[2017-01-18 22:53] #185 closed

[2017-01-23 23:02] xymostech commented on #100
Hmm. It looks like this problem might have been fixed by v2.0.5 in inline-style-prefixer (which is coincidentally causing our tests to fail https://travis-ci.org/Khan/aphrodite/builds/194582952). In #123 we were trying to decide if this is worth a major version bump, because it might have broken behaviour for other people. Looks like inline-style-prefixer released this as a bugfix though, so maybe

[2017-01-23 23:08] kentcdodds commented on #100
Hmmm... I'm not sure that I understand how this impacts things, but normally if you have to fix tests it means that other people will have to fix code (breaking change), unless you're shielding us from these changes in some way...

[2017-01-31 19:18] lazopm opened #189 "Question about rehydrate"
Is there any documentation on what exactly rehydrate does?

One of my pre-rendered react components is working well without using rehydrate at all.

I'm throwing the generated css in a <style> tag next to the react-root div. Source looks like this:
[code]

What do I do if I have several react components in a page that get pre-rendered separately? The example in the readme is for a single root comp

[2017-01-31 20:09] xymostech commented on #189
Rehydrating lets Aphrodite know which styles have already been inserted into the page. If you don't rehydrate, Aphrodite might add duplicate styles to the page, which might be bad for performance.

If you have several react components, you can call `StyleSheet.rehydrate` once for each of your components with the list of class names that you get from server-side rendering. For instance:

[code]

Th

[2017-01-31 20:09] #189 closed

[2017-01-31 21:04] tkh44 commented on #174
@xymostech I tend to agree with not having the strings appended, but the argument that you won't know what will happen is not a very solid one. Because of `!important` on the styles (in default mode) you know that your aphrodite generated styles will take precedence.

We might as well list some pro's for this feature

- Having a base set of classes that define layout so that when you measure your

[2017-01-31 21:09] lazopm commented on #189
Makes perfect sense, thank you!

[2017-02-01 14:33] lukevenn opened #191 "Push of latest release"
Hi @xymostech,

I recently had a PR merged (thanks by the way) and was wondering when an updated release containing it will be published?

Thanks,
Luke

[2017-02-03 17:02] tuchk4 opened #193 "@import external url"
Seems this is not possible now. Yes?
Do you have any plans? Or what is the best way to import Google fonts `https://fonts.googleapis.com/css?family=Roboto` using Aphrodite?

[2017-02-03 19:47] lazopm commented on #189
Hey @xymostech, I was thinking, is there a reason why rehydrate can't be automatic?
Aphrodite could rehydrate all the classes in <style> tags that have `data-aphrodite`.
If analyzing the contents of the style tag is too slow, maybe `renderStatic` could generate a css comment that has a list of all the classes in that particular css block.
What do you think? Would there be a downside to that?

[2017-02-08 18:26] xymostech commented on #193
The best way would be to just include the external stylesheet in the page like one normally does. Aphrodite doesn't intend to implement all of CSS, and `@import` is one piece we aren't going to support.

[2017-02-08 18:26] #193 closed

[2017-02-08 20:07] brandonmp opened #194 "Injecting style into a shadowDOM node?"
I have a chrome extension that injects a content script into a shadow DOM node:

[code]

The first `style` tag is for `react-mdl` components. This nicely containerizes all the requisite style in the Extension content script w/o leaking style into the parent page.

Aphrodite doesn't seem to like this, though. I followed the readme & tagged a `style` tag with `data-aphrodite`, but got this error:

[

[2017-02-08 21:05] brandonmp commented on #194
i've worked up a solution but not sure it's solid. basically: i start a `MutationObserver` that listens for `data-aphrodite` style to be injected in the `head`, then I take the `textContent` of `data-aphrodite` and inject it into my `ShadowDOM`

Does Aphrodite change the content of the style tag during run time? i.e., shoudl I also add a mutation observer for changes to the `data-aphrodite` tag?

[2017-02-08 21:36] invictus88008 opened #195 "import database style variables"
Hello, I'm trying to pass colors from a database, I want to do this via the components props, but it's returning:
Cannot read property 'create' of undefined

Heres what the code looks like:

import {StyleSheets, css} from 'aphrodite';

const contactUs = ( colors ) => {

    return StyleSheets.create({

        contactUs: {
            textAlign: 'left'
        }

    });

};

module.exports = cont

[2017-02-08 21:43] invictus88008 commented on #195
Apparently I cant spell is the issue

[2017-02-08 21:43] #195 closed

[2017-02-08 21:45] xymostech commented on #194
The original error you were seeing,

[code]

is because you forgot to close your `<style>` tag, so your `<div id='shadowReactRoot' />` wasn't being added, and so React was complaining that you were trying to render to undefined. Closing your `<style>` tag at least makes the error go away, but doesn't fix your overall problem.

There's another issue that's sorta similar to this one, #130. I wonder

[2017-02-08 22:36] brandonmp commented on #194
@xymostech  ah, i've spent too much time in `jsx` i think. i didn't forget to close, i just thought `style` could be self-closing (ie, ` <style data-aphrodite/>`)

the mutation observer is doing the trick for now, but i'll give a look @ the `renderInDocument` approach if it starts to give me trouble.

[2017-02-08 22:40] xymostech commented on #194
Okay! That API doesn't exist yet, it was just something I was thinking about a while back and never got to implementing. :P If I get around to it I'll mention it here, maybe you could try it out.

[2017-02-09 06:07] sdras commented on #127
Any updates on supporting adjacent sibling selectors? It would be much appreciated.

[2017-02-09 15:19] lukevenn opened #196 "Feature request - Handle multiple selectors"
To make my styles more DRY it would be good Aphrodite could handle multiple selectors. For example, if I have a style sheet defined as
[code]
At the moment this will generate a string in the form `selector1_[hash]:before, :after` which will obviously result in ALL `:after` pseudo-elements on the page receiving the style, not just the intended target. To fix it I'd have to define the same style for

[2017-02-09 16:37] dzearing opened #197 "Focus styling question: how can I use the parent focus to control child element styling?"
Just a question of how to approach this in aphrodite.

I have a button, position relative. I have a very particular looking focus rectangle; it needs to be a border that's inset a few pixels. To accomplish this i make a child span, positioned absolute to cover the button, with a 1px border.

I only want the span to show when the button is focused. In a css selector, I might have a rule for somethi

[2017-02-10 03:37] dzearing commented on #197
Seems like issue #10 that was closed without notes... any way to style children conditionally based on element states (hover/active/focus) ? I can't tell if something changed in that issue or if it was just closed because it isn't supported.

[2017-02-10 16:24] simonsmith opened #198 "Best way to use 'utility' classes"
Hey,

When using something like SUIT CSS I'd make use of utility classes to reuse certain traits. This allows the CSS to be defined once for the entire app.

[code]

What is your advice for the `u-hiddenVisually` class above?

I've tried something like this:

[code]

The problem I encountered is I now have the `hidden` styles present in two rulesets, one for `elemA` and one for `elemB`. This could

[2017-02-13 20:04] ethangodt commented on #173
Update: the meta tag didn't work. Is anyone else having issues with this? IE 10 is not an incredibly old browser, and it's fairly inconvenient that we must run less files for our animations, when we use aphrodite for most everything else.

[2017-02-18 14:35] smfoote commented on #62
The `StyleSheetTestUtils` solution only works for me when all tests are synchronous.

[2017-02-21 14:47] wellguimaraes commented on #174
For now, I'm using a helper function (css and classnames wrapper), to achieve this 'feature':

[code]

[2017-02-21 14:54] wellguimaraes commented on #174
For now, I'm using a helper fn (workaround) as a replacement of css fn. It's basically a wrapper of css and classnames to achieve this feature.

[code]

[2017-02-26 16:50] simonsmith commented on #198
I ended up using utility libraries alongside my component styles. The [classNames](https://github.com/JedWatson/classnames) library works well for more complex situations too.

[2017-02-26 16:50] #198 closed

[2017-03-02 17:36] lencioni opened #199 "Order of properties can change in different environments"
I am noticing a difference in how the style properties are ordered between a development environment and a production environment. Essentially, I have a couple of styles that look like this:

[code]

I am applying them to my element like this `css(foo, isBar && bar)`.

In my development environment (a story in react storybook), the component is styled as expected, with 0 margin all around except f

[2017-03-02 17:38] lencioni commented on #199
Also, I noticed that the generated selector is the same, which I believe implies that the styles are passed to Aphrodite in the same order in both environments.

[2017-03-02 17:51] lencioni commented on #199
I'm thinking that anywhere object keys are used, they will need to be manually sorted to preserve developer intention and consistency across environments and browsers..

[2017-03-02 18:02] ljharb commented on #199
Note that this includes any usage of `Object.keys`/`Object.entries`/`Object.values`, `Object.getOwnPropertyNames`, and `for..in`.

[2017-03-02 19:15] xymostech commented on #199
@lencioni Huh! That's very... annoying. I'd love to get some more information about the two environments you're rendering the different styles in. Are you server-side rendering in one, or is it two different browsers?

Also, could you try updating to the current version of Aphrodite (v1.1.0) and see if you're still experiencing the problem?

[2017-03-02 19:19] lencioni commented on #199
Ah, yes, in production we are server side rendering. That is almost certainly the key difference here.

I'll work on updating Aphrodite, but it might take me a while.

[2017-03-02 19:22] ljharb commented on #199
Property key ordering also changed noticeably in a specific version of v8, which means node-to-chrome across that boundary, or node-to-nonv8, will have this problem.

[2017-03-02 19:29] xymostech commented on #199
Okay. I've feel like I've seen that happen before also when server-side rendering :(. Do you know what version of node you're using on your server? And what browser are you using? I haven't seen it in a while, so maybe some combination of node/aphrodite upgrade fixed it, or maybe we're just not triggering it any more.

@ljharb Huh, interesting! I didn't know that it had changed. Do you know when t

[2017-03-02 19:32] ljharb commented on #199
@xymostech object property ordering became specified in ES6, so all engines will eventually have consistent ordering, but it'll always be a good practice to not rely on key ordering.

We were using node 4.2.4 and now 4.6.2.

[2017-03-02 20:09] lencioni commented on #199
I think it is important to stabilize the sorting of these styles, but it might also be interesting to explore a more advanced merging strategy for shorthand properties. e.g. merge `margin: 0` and `marginRight: 16` to be `margin: '0 16px 0 0'.

[2017-03-02 20:47] ljharb commented on #199
Indeed, I think both would be a good idea.

[2017-03-02 20:59] xymostech commented on #199
@lencioni while that sounds interesting, I think I'd like to avoid doing merging into the shorthand properties like that because it would probably involve understanding a lot of CSS semantics, which we're trying to avoid in Aphrodite.

Going the other way seems more interesting to me, though. If you specified `margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0;` instead of just `marg

[2017-03-02 21:33] xymostech commented on #199
I'm looking into doing this sorting, and I'm not really sure what this means. Just plain sorting the properties obviously isn't what we want, because then `margin` might end up after `margin-left` or something. But if the problem is object ordering, how do we pull out the intended order from the objects that are passed in? Hmm.

[2017-03-02 21:34] ljharb commented on #199
Right, exactly. If the user provides the keys in object form, there's no way to know what sorting they intended.

A better approach would be if the user provided a `Map`, or an array of entries (`[key, value]`), since passing an object doesn't convey any order.

[2017-03-03 19:22] green-arrow commented on #62
I have the same problem as @smfoote. The `StyleSheetTestUtils` solution works just fine, but when trying to use it when testing a component with async behavior, the test suite fails with the same `Cannot read property 'querySelector' of undefined.`

[2017-03-06 20:59] couturecraigj opened #209 "TypeError: document.querySelector is not a function"
Has anybody else come across an error when trying to extend StyleSheet and using SSR?  I cannot seem to figure out what is causing this.  It is telling me that there is no document.querySelector but on my local machine everything appears to be working fine but when I push my project up to Heroku it crashes and gives me the following error message.  I have been working on this for a couple hours an

[2017-03-06 23:02] xymostech commented on #209
Hi @couturecraigj! Sorry you're running into this issue. Are you experiencing this error on the server-side rendering server, or in the client?

What does your code look like for doing the server-side rendering? Are you wrapping your render call in `StyleSheetServer.renderStatic()`? (See [the readme](https://github.com/khan/aphrodite#server-side-rendering) for how to do this)

[2017-03-07 13:49] couturecraigj commented on #209
I am as that was the setup that came with the boilerplate I was using.  I just recently updated everything to 1.1 it appears to be located around extending the StyleSheet using the above configuration as is in the configuration in the system.  When I make this so it only renders on the client I encounter no issues but if I want it to precompile I am getting the document.querySelector issue.

[2017-03-08 21:10] #199 closed

[2017-03-08 22:44] lencioni opened #210 "Upcoming 1.2.0: Cannot read property 'length' of undefined"
I'm trying out master and ran into an error:

[code]

[2017-03-08 22:46] lencioni commented on #210
The error happens on this line of `importantify`:

[code]

we assume that `string` is a String here. I've traced this down to having a style object with a value of `undefined` in it. e.g.

[code]

We might need to handle this a bit more gracefully.

[2017-03-08 22:52] xymostech commented on #210
Hmm, drat. I wonder what used to happen with these? I assume we just filtered them out?

[2017-03-08 22:57] xymostech commented on #210
`.foo{color:null !important;border-radius:undefined !important;}` says that we didn't. Oops. Maybe we should?

[2017-03-08 23:05] lencioni commented on #210
Yeah, I think that makes sense. Ideally we can filter them out as part of a loop that we are already doing early on.

[2017-03-08 23:07] lencioni commented on #210
Alternatively, we could throw an error, which would allow developers to fix their code (which is what I am doing in our codebase at the moment). Or, maybe best to log a warning in dev only, e.g.

[code]

[2017-03-08 23:48] #210 closed

[2017-03-09 16:42] ecozoic commented on #209
I'm going to piggyback off of this issue instead of creating another one since they may be related in a weird way.

I'm running unit tests w/ Jest using jsdom environment. But when using Aphrodite I'm getting "Type Error: cannot  read property querySelectorAll of undefined."

This doesn't make much sense to me because jsdom simulates that stuff. In my actual unit tests, I can access `document` and

[2017-03-09 18:47] xymostech commented on #209
@ecozoic See #62. Basically, Aphrodite buffers its style insertion and performs it async, which means that even if `document` is defined during the test, it might not be defined after the test ends, which is when Aphrodite goes looking for it. If you're actually testing to make sure that styles get injected, you can do what we do here: https://github.com/Khan/aphrodite/blob/master/tests/index_test

[2017-03-09 18:48] xymostech commented on #209
@couturecraigj can you show me the code where you're doing your rendering, or tell me which boilerplate you are using? It sounds like you're not server-side rendering correctly.

[2017-03-10 20:33] thiamsantos opened #217 "Aphrodite logo"
Would be great if the project had a nice logo.

[2017-03-10 20:51] thiamsantos opened #218 "Integrate with coveralls"
Integrate the project with [coveralls](https://coveralls.io/) to add a fancy badge in the readme, like this one from lodash:

[![Coverage Status](https://coveralls.io/repos/github/lodash/lodash/badge.svg?branch=master)](https://coveralls.io/github/lodash/lodash?branch=master)

And the setup is pretty simple:

1. Create an account with your github at the website.
2. Add this repo on the website:

!

[2017-03-10 22:47] xymostech commented on #218
Looks cool @thiamsantos! I can get to this at some point, but if you (or someone else) makes a PR I'd be happy to integrate that. :)

[2017-03-10 22:51] thiamsantos commented on #218
Nice @xymostech! I'll be happy to send a PR, but the first two steps that I mentioned above need to be made by a owner/collaborator of the project, someone that has write access.

[2017-03-10 23:04] xymostech commented on #218
@thiamsantos okay, I did the first two steps! I don't think I need to add any env variables to travis or anything, so you should be set to send the PR. :)

[2017-03-10 23:06] xymostech commented on #217
It's funny that you bring that up! I just landed a change to http://khan.github.io/ which adds Aphrodite to the list and includes a logo... it's pretty stylized so maybe it's not what we want overall, but it is a logo.

(direct link to the logo: http://khan.github.io/img/aphrodite.svg)

[2017-03-10 23:10] thiamsantos commented on #218
@xymostech thanks! In a few minutes I'll send the PR.

[2017-03-10 23:23] thiamsantos commented on #217
Cool @xymostech! Maybe you could include this logo on readme.

[2017-03-11 01:02] #218 closed

[2017-03-11 09:18] danhayden commented on #100
Looks like this was fixed with the release of version 1.2.0 👍

[2017-03-11 09:18] #100 closed

[2017-03-11 15:31] lencioni commented on #68
@crm416 can you try 1.2.0 and let us know if this is still an issue?

[2017-03-11 15:37] lencioni commented on #69
I'm closing this issue to clear things out. Please feel free to open it again!

[2017-03-11 15:37] #69 closed

[2017-03-11 15:43] lencioni commented on #135
@limitedmage can you see if this is still an issue with 1.2.0?

[2017-03-11 15:53] lencioni commented on #174
This was discussed in #8

[2017-03-11 15:54] lencioni commented on #191
1.2.0 was recently published

[2017-03-11 15:54] #191 closed

[2017-03-11 19:40] thiamsantos commented on #217
Maybe the logo could have a transparent background to fit better on the readme.

[2017-03-11 19:56] thiamsantos opened #220 "Contributing Guidelines"
Would be great to have [contributing guidelines](https://github.com/blog/1184-contributing-guidelines) in this project. Some great examples for inspiration could be [atom guidelines](https://github.com/atom/atom/blob/master/CONTRIBUTING.md), [babel](https://github.com/babel/babel/blob/7.0/CONTRIBUTING.md) and [ava](https://github.com/avajs/ava/blob/master/contributing.md). There is no need to be a

[2017-03-11 21:15] joeshub commented on #30
Just checking in. Is this still a no go for Aphrodite? I feel like there are 2 separate points here.

1) Style global things for resets or styleguides for which the :root selector trick works
2) Override third party className rules. (Rendered content @kentcdodds, Bootstrap progressbar @barbalex).

For reference:
Styled Components provides a non recommended [injectGlobal](https://github.com/styled-

[2017-03-12 14:10] thiamsantos opened #221 "Update readme"
Would be great update the readme following the [standard readme](https://github.com/richardlitt/standard-readme) [specification](https://github.com/RichardLitt/standard-readme/blob/master/spec.md). In order to provide a predictable format for facilitate the reading. And seize the opportunity to add an explanation of [why use this project and the CSS in JS technique](https://github.com/Khan/aphrodi

[2017-03-13 08:50] winterbe commented on #174
I like the proposal of @jaredly because it'd make the integration of Aphrodite into existing projects much easier without the need for helper functions like @wellguimaraes described.

[2017-03-13 15:51] lencioni commented on #221
I'm going to close this as a duplicate of #103. Please feel free to add to the discussion over there or open a PR.

[2017-03-13 15:51] #221 closed

[2017-03-13 15:54] lencioni commented on #174
Considering how easy it is to achieve your desired result by using a wrapping function, I don't see any compelling reason to expand Aphrodite's API to support this use-case.

[2017-03-13 20:50] xymostech opened #222 "runkit example no longer working"
I previously added a runkit example to aphrodite by adding a file and referencing it in the package.json: https://github.com/Khan/aphrodite/blob/master/package.json#L70

It looks like that example no longer works (https://runkit.com/npm/aphrodite). I thought maybe because of the rename (they used to be called "tonic") the property in package.json should be switched to `runkitExampleFilename` but t

[2017-03-14 02:49] smfoote commented on #62
@green-arrow: I was able to solve this problem by returning a promise in the `afterEach` function:

[code]

[2017-03-14 14:30] probedb opened #223 "Question: How to use StyleSheet.rehydrate in a templated setup?"
Hi,

We're using React/Redux with whiskers for templating. We also combine and minify our JS which is then used in the template.

How do I run StyleSheet.rehydrate in this template? Since StyleSheet doesn't exist, any JS has been minified.

I've managed to get everything else working including tests and StyleSheetServer.renderStatic works fine and the app starts without any issues.

This is the co

[2017-03-14 16:03] kevinbarabash opened #224 "SVG support"
Would love to be able to use aphrodite with SVG... especially media queries.

[2017-03-14 18:55] xymostech commented on #223
@probedb I'm not sure that I completely understand the problem that you're having, but I think you want to do something like this:

1. In your template, add a `<style>` tag like

[code]

2. Also in your template, before you include your js bundle, add a `<script>` tag like

[code]

3. In the index file of your javascript that gets bundled together, run something like

[code]

Does that make sense?

[2017-03-14 19:05] probedb commented on #223
Cheers, I'll give it a go when I get into work tomorrow and let you know :) It's step 3 I'll have to figure out how to do. I think we're using webpack so will figure out how to keep a chuck of JavaScript from getting minified.

[2017-03-14 19:27] xymostech commented on #223
@probedb Part 3 can be minified! As long as it's still referencing `window.APHRODITE_REHYDRATE_DATA` then it'll be fine. :)

[2017-03-14 19:28] xymostech commented on #223
(and I'm going to close this issue because this isn't a problem with Aphrodite, and I think that will resolve your problem. Feel free to comment or re-open if you're still having trouble!)

[2017-03-14 19:28] #223 closed

[2017-03-15 12:08] probedb commented on #223
Works as far as I can tell, thanks folks :)

[2017-03-15 15:29] whirmill commented on #147
There's just one thing that I can't figure out and it's driving me crazy:
In my react application i've declared two different themes that uses two different font-faces:
The first one describes a paid and self-hosted font;
The second one describes a free font hosted by google fonts.

Using the theme with the self-hosted assets, a re-fetch is performed on the first update and the application flicker

[2017-03-15 17:46] whirmill opened #226 "Media query rules spread out of class scope"
From v1.2.0 if i define a class that describes the common components styles and a modifier class with a media query within it that describes a particular behavior for a subset of that components, once bound together to a component the media query is spread even to the components that references the base class only

[2017-03-15 18:28] xymostech commented on #226
@whirmill I think I vaguely understand what you're saying, but could you provide some code to make it clearer what's going on?

[2017-03-16 11:30] whirmill commented on #226
I'ts a bit tricky to explain but I'll try to make it clearer:

[code]

in this example I've defined an element's wrapper that in it's default state should occupy half of it's container's width

Assuming that we've got a collection of these items, if the number of elements in the collection is odd then the last element should occupy all the container's width.

Also if an element of this collection

[2017-03-16 11:36] claudiamatosa opened #227 "Changing colour of SVGs"
Hi all,

I know there are already some threads about descendant selectors, mainly #10. Aphrodite does not support generic descendant selectors and I understand the reasoning behind it, but would it make sense to add an exception for SVG descendant tags?

SVGs are quite powerful because they allow you to change colours while only loading one file or sprite over and over again. Using them with `use`

[2017-03-16 15:00] claudiamatosa commented on #224
Didn't know this was here when I opened #227.

[2017-03-16 15:33] green-arrow commented on #62
@smfoote - that worked perfectly, thanks!

[2017-03-20 23:21] xymostech opened #229 "Document our API"
Someone commented on https://github.com/Khan/aphrodite/commit/21ef03b7c2a1448f07f48c241d3d205fea2b4c82, noting that it changes the class names that `css()` generates, and was wondering if that counted as a breaking change. I don't think it is, but I'd like to get some feedback about what we think our API really is, and what we think counts as a breaking change.

This is the way I've been thinking

[2017-03-21 00:15] lencioni commented on #229
In general this sounds like a pretty good start to me. I think it probably needs to include a couple of other things, like maybe:

- the async nature of injecting styles
- the testing utility methods for stopping buffering
- the default extensions (animations and fonts)

That's what comes to mind off the top of my head.

[2017-03-21 01:34] kentcdodds commented on #229
Sounds good to me :+1:

[2017-03-22 11:26] Soreine opened #230 "Feature request: Conversion helper CSS -> Aphrodite"
I was wondering if anyone had made a tool to "convert" style rules from a CSS syntax to a JS object syntax, as accepted by Aphrodite.

This does not need to be fancy, nor smart. Just a small helper to help importing existing CSS rules into Aphrodite. The rules would still need to be refactored manually of course, but at least, the directives would be camel cased as needed, and semi-colons would be

[2017-03-22 16:21] Soreine opened #231 "Bug: Pseudo rules (:after) are incorrectly combined at runtime"
I think I have found a bug with how `:after` rules are combined. When we combine two styles declaring an `:after` rule, the subsequent call to `css()` will merge the styles incorrectly.

### Minimal example:

[code]

Renders:

<img width="87" alt="screen shot 2017-03-22 at 17 19 01" src="https://cloud.githubusercontent.com/assets/5644953/24208332/a9647598-0f23-11e7-997e-23ed2c971ed2.png">

As you

[2017-03-22 19:04] lencioni commented on #231
I think I have a fix this in #216. Here's the test I added: https://github.com/Khan/aphrodite/pull/216/files#r107288862

Can you confirm whether this resolves the issue for you?

[2017-03-23 08:05] Soreine commented on #231
Yes, that's exactly what happens, `greenSquare`'s definition is mutated.
Thanks for your awesome looking PR :)

[2017-03-26 23:46] dperetti opened #234 "Feature request: ability to retrieve the generated animation name"
When using keyframes animations, it would be very useful to be able to retrieve the generated keyframes animation name (could be by inspecting the output of `StyleSheet.create()` for example).

Why do I want this ? Because by listening to the `animationend` event, I want to trigger something the cleanest possible way when the CSS animation is finished... and I need to know what animation it is (`a

[2017-03-29 18:16] lazopm opened #235 "Bug: classes different depending on the order they were generated"
I ran into this weird bug, when my nav's active item class is generated first, the inactive class also has the active item's `:hover` rule.

See below:
![screen shot 2017-03-29 at 2 11 17 pm](https://cloud.githubusercontent.com/assets/5622067/24469587/f876aafa-1489-11e7-81bc-8f5a97fd2f34.png)

Stylesheet:
[code]

Code here:
https://github.com/lazopm/aphrodite-bug

[2017-03-29 18:36] lencioni commented on #235
Thanks! This looks like a duplicate of #231.

[2017-03-29 18:36] #235 closed

[2017-03-30 23:02] rileybracken opened #236 "Calling set state and optionally setting styles isn't working"
Currently I am setting styles in my CRA app using a ternary operator.

The classes set properly, I can see the styles in the style tag but for whatever reason they do not apply.

This is what I have:
`className={ css(this.state.fixed ? style.navContainerFixed : style.navContainer)`

It is very similar to what is happening in the example here:
https://github.com/Khan/aphrodite/blob/master/examples/

[2017-04-03 16:21] sontek commented on #10
Yeah, I want to selected all the anchors in a div (need to style component I don't control), whats the status of this?

[2017-04-03 18:38] jlfwong commented on #10
@sontek This was closed due to the solution in #95, which is documented here: https://github.com/Khan/aphrodite#advanced-extensions

[2017-04-10 19:06] lazopm commented on #231
@lencioni  @xymostech Any updates on this?
This bug is pretty major, we've ran into it several times.

[2017-04-10 19:15] xymostech commented on #231
@lazopm Sorry, I know this is a bug but have been very busy. I'll hopefully get to reviewing and landing @lencioni's changes this week and making a new release.

[2017-04-12 09:13] elischutze commented on #231
Looking forward to it!

[2017-04-14 16:54] bfulop commented on #197
I've found this as a quick and dirty hack:

[code]

And in my `className` add ` bar` as a simple string. Not at all in the spirit of aphrodite, but works.

[2017-04-14 21:44] bfulop commented on #197
A proof of concept by [creating an extension](https://github.com/Khan/aphrodite#advanced-extensions)

The extension:

[code]

Then, I created __two__ stylesheets:

[code]

And later I can set my `className` as such:

[code]

The advantage here is that now Aphrodite will give you a unique CSS class name for your element.

[2017-04-22 16:24] agnivade opened #237 "Does this work in vuejs ?"
I was looking for a proper inline css solution in vuejs. And this seems like a good choice.

[2017-04-23 03:46] xymostech commented on #237
I haven't used Vue before, but it looks like you could just pass in the generated classname and use `v-bind:class`:

[code]

[code]

So, the answer is "yes, it does work in Vue". That said, it's not terribly pretty, but you could probably make it nicer by writing a directive. For instance, you could maybe do

[code]

[code]

(I'm going to close this issue because it's not related to an actual bug

[2017-04-23 03:46] #237 closed

[2017-04-23 05:44] agnivade commented on #237
Thanks. That looks good.

[2017-04-23 14:49] joshwcomeau commented on #237
That looks good to me! I've worked with Vue a bit and I think it could couple nicely with Aphrodite :)

@agnivade let me know how this works out for you. It may be worth creating "official" bindings, especially if it requires further massaging (or if you come up with any improvements).

cc @xymostech

[2017-04-25 09:54] alexcoady commented on #231
@xymostech Do you have any idea when this might be released? Our large project has a number of bugs as a result of this issue and we're weighing up whether to roll-back, patch all the issues or wait until a new release is available, it'd be good to have an ETA to help our decision-making! Thank you.

[2017-04-27 16:04] lencioni commented on #231
I just merged #233. This should be fixed in the next release.

[2017-04-27 16:04] #231 closed

[2017-04-27 22:46] lencioni commented on #231
I just published v1.2.1. Give it a shot!

[2017-04-29 17:21] Soreine commented on #231
Working great ! You rock

[2017-05-10 14:49] lencioni opened #239 "Configure prefixer via browserslist"
It looks like everybody is jumping on the browserslist train. I think it would be nice if we made it so the prefixes generated by Aphrodite could be configured in the same way that other tools like babel-preset-env and autoprefixer are configured.

More information: https://evilmartians.com/chronicles/autoprefixer-7-browserslist-2-released

[2017-05-10 14:52] lencioni commented on #173
I wonder if this is the same issue that @reklawnos reported here: https://github.com/Khan/aphrodite/pull/238

@ethangodt can you try the fix in that PR and see if it resolves this?

[2017-05-10 14:55] lencioni commented on #222
Here's what I see right now when I click on Run:

<img width="687" alt="screen shot 2017-05-10 at 7 55 03 am" src="https://cloud.githubusercontent.com/assets/195534/25905129/0194a302-3556-11e7-8745-c978d746f2fe.png">

So, maybe this is working again? I'm going to close this issue, but please re-open it if it is still broken.

[2017-05-10 14:55] #222 closed

[2017-05-10 14:58] lencioni commented on #226
@whirmill is this still an issue for you with v1.2.1?

[2017-05-17 06:01] TobiasBales commented on #62
Interestingly enough using aphrodite with create-react-app-typescript the StyleSheetTestUtils fix does not work. When using the fake timer solution it does work, any ideas on how to figure this out?

[2017-05-22 15:54] Soreine opened #241 "Outline transition flickers"
Might be a bug.

I have the following style, that includes outline with transition property:

[code]

I use it to apply an outline conditionally to some components. But on page load (probably linked to aphrodite CSS injection), the outlines of the affected component transition from black to transparent, instead of being transparent from the start. See below what happens at page reload, right after

[2017-05-22 18:36] xymostech commented on #241
Thanks for the report! Can you share some of the code of how you're using the styles (i.e. the calls to `css()`)

Are you using React? I use WebpackBin instead of jsfiddle to play around with React and Aphrodite, like here: https://www.webpackbin.com/bins/-KklQQPzW0vbEqg2Grv3

[2017-05-23 08:17] Soreine commented on #241
Thank you :)
I actually can't reproduce it, it only happens in Chrome too... So I think it's not aphrodite's fault

[2017-05-23 08:17] #241 closed

[2017-06-05 18:37] omerzach opened #243 "font-face object passed directly doesn't work"
I'm on Aphrodite 1.2.1.

I have
[code]

This works:
[code]

This doesn't:
[code]

According to the README either one should work:

[2017-06-05 18:42] xymostech commented on #243
Thanks for the report! Yeah, that definitely should work. I wonder why it doesn't...

Can you be more specific about what you mean by "This doesn't work"? Does it throw an error? Or just not insert the font face? What do you get as the `font-family` value in that style?

[2017-06-05 18:51] omerzach commented on #243
Yep, sorry :)

The `@font-face` does appear to be getting added correctly, but the Chrome web inspector shows `font-family: "undefined"` and the text is rendered with the default font.

[2017-06-09 21:57] goatslacker opened #245 "Async rendering and Aphrodite"
Aphrodite currently relies on the fact that rendering with React is synchronous in order to build up/pull out the css definitions. The `injectionBuffer` is actually a module level "global" that just gets appended to: https://github.com/Khan/aphrodite/blob/master/src/inject.js#L140

While this works great at the moment, asynchronous rendering of React components are going to become popular in the n

[2017-06-09 22:23] xymostech commented on #245
This has already been discussed a little bit in #63. In order to render styles that the page needs in the `<head>`, we need to know all of the `css()` calls that are made before you start sending down the rest of the page. That's inherently not compatible with async rendering, not because of our module-level global but because of the timing of when that rendering happens.

Random thought, though:

[2017-06-09 22:45] goatslacker commented on #245
Yes, adding support for streaming will definitely be a challenge. Async rendering isn't just streaming though, rapscallion supports rendering to a promise but we'd need Aphrodite to support multiple injection buffers on the server in that case so that they don't clobber each other.

[2017-06-14 14:58] VictorienTardif opened #249 "min-content and max-content are not prefixed"
I wasn't understanding why my css declaration `max-width:min-content` wasn't working on Safari and I discovered that I had to add prefixes `-webkit-min-content` and `moz-min-content`.

I had to add all prefixes in a single css declaration like this:

`'max-width':'-moz-min-content; max-width:-webkit-min-content; max-width:min-content'`

[2017-06-14 15:07] lencioni commented on #249
Aphrodite uses inline-style-prefixer for prefixing styles. It looks like they have a test that ensures that these values are prefixed. https://github.com/rofrischmann/inline-style-prefixer/blob/23d1c63b7b32c1b6ccf05f9d50b2a050766befd9/test/static/createPrefixer-test.js#L153-L158

What version of Aphrodite and inline-style-prefixer do you have installed? Also, can you provide a minimal repro case?

[2017-06-14 15:26] VictorienTardif commented on #249
weird... I have aphrodite 1.2.0. inline-style-prefixer is 3.0.3.

How can I provide a repro case?

[2017-06-14 15:32] lencioni commented on #249
Can you verify that this is still a problem for you on the latest versions of each? Aphrodite is at 1.2.1 and inline-style-prefixer is at 3.0.6.

As for a repro case, it would be helpful if you could post some code that would surface this issue. Ideally this would be in the form of a git repo that I could clone, run `npm install`, and then another command (maybe `npm test` or `npm build`) that wil

[2017-06-15 01:30] omerzach commented on #129
I think we have this same issue.

[2017-06-15 02:31] omerzach opened #250 "Examples fail to run: "Cannot find module 'inline-style-prefixer/static/createPrefixer'""
[code]

[2017-06-15 08:04] VictorienTardif commented on #249
Hello, unfortunately it's the same for me with the latest versions.
I'm sorry but I won't have time to set up a repo to demonstrate this issue. I just wanted to let you know that min-content is not prefixed, at least for me but I see no reason why it would be different for anyone else. Thank you for your answers.

[2017-06-15 11:38] whirmill commented on #226
It seems that in 1.2.1 it doesn't appen anymore

[2017-06-15 11:39] #226 closed

[2017-06-15 20:24] xymostech commented on #250
Huh, interesting! Thanks for the report @omerzach It looks like the examples directory depends on the root aphrodite directory, so we assume that you've run `npm install` in the root directory. Can you try running `npm install` inside of the root aphrodite directory and then follow your steps, and see what happens?

Maybe we should add a pre-install hook to run `cd .. && npm install`?

[2017-06-16 18:29] omerzach commented on #250
Looks like you need to both `npm install` and `npm run build` from the root Aphrodite directory. Either a preinstall hook or just a line in the README sound good :).

[2017-06-20 14:28] HeyMarcy commented on #250
THANKS!
i had the same issue

[2017-06-20 14:30] HeyMarcy opened #251 "Directions to Run Examples"
To run examples:
ROOT directory:  `npm install` and `npm run build`
EXAMPLES directory:  run `npm install && npm install`

[2017-06-20 17:57] #250 closed

[2017-06-20 17:57] #251 closed

[2017-06-23 19:00] austenpayan commented on #74
Have there been any updates on this topic since last year?

[2017-06-28 20:04] merlinpatt commented on #229
Would it be possible, and this would certainly be a breaking change, to reverse the `!important` default and need for a `no-important` package?

To clarify, I mean, instead have an `aphrodite/important` package that appends the `!important` and the base package doesn't append it.

This would still make it easy to integrate with an existing codebase. And if made into a separate package/plugin, then

[2017-06-29 15:53] dwayne-roberts commented on #243
Adding it in the proposed way, stipulated in the readme also does not seem to work for me. Just like with @omerzach it injects the `@font-face` rule correctly in the `<HEAD />` but the `font-family` style is _undefined_

[2017-07-03 14:59] Skywalker13 opened #253 "Support for other classNames in one CSS class (like ':hover otherClass')"
Hello,

Using class with hover like this (I want to change the backgroundColor of an other class):
[code]

It's not working... It's should be easy to handle this use case.. no?

Thanks
Regards

[2017-07-03 19:48] xymostech commented on #253
Sounds like you're trying to do what we've talked about in #10. We haven't come up with a good solution to this as of yet. The code you list should be working, but it's a hack and might break in the future. I can help you debug that. The other solution is to manually keep track of `:hover` state with javascript `onMouseOver`/`onMouseOut` handlers.

(I'm going to close this as a duplicate of #10. I

[2017-07-03 19:48] #253 closed

[2017-07-07 13:08] callumlocke opened #254 "Feature request: ability to disable or configure autoprefixing"
If I'm writing an app that will only run in modern Chrome or Electron, I want to disable autoprefixing so it's easier to debug things in devtools.

For example, Aphrodite generates all this:
![image](https://user-images.githubusercontent.com/250617/27958919-1fd7a072-631d-11e7-8a05-654ffcae89ce.png)

But all I want is this:
![image](https://user-images.githubusercontent.com/250617/27958943-4021c90c

[2017-07-07 16:03] lencioni commented on #254
I think this is a duplicate of #239. Please feel free to reopen if I am mistaken.

[2017-07-07 16:03] #254 closed

[2017-07-11 05:15] pmarashian opened #255 "build fails to run"
Do I need to do something else to compile?

[code]

[2017-07-11 22:38] upta commented on #172
Looks like the PR for this ended up in purgatory?  Also, would it be possible to add an overload to StyleSheetStatic->create like:
[code]

in addition to the existing
[code]

The later plays havoc with intellisense unless you're explicitly importing/using StyleDeclaration.

If I can help in any way let me know, thanks!

[2017-07-12 18:22] neildevas commented on #243
has there been a workaround for this? even when passing the font the first way you did it, ([Raleway]) rather than passing directly, it doesnt work for me. Chrome inspector and the debugger both show that the font is defined correctly but my elements arent showing up with the correct font

[2017-07-12 19:17] omerzach commented on #243
@neildevas:

I think this PR fiexes the issue: https://github.com/Khan/aphrodite/pull/252

The array-passing thing definitely works for us though, so @xymostech's questions for me when I first posted this are probably relevant: "Can you be more specific about what you mean by 'This doesn't work'? Does it throw an error? Or just not insert the font face? What do you get as the font-family value in

[2017-07-12 19:30] neildevas commented on #243
@omerzach
<img width="262" alt="screen shot 2017-07-12 at 12 27 47 pm" src="https://user-images.githubusercontent.com/29054648/28136202-b339217c-66fd-11e7-92eb-0a74fc8d9176.png">
 it doesnt insert the font face. when i look at the actual object the font family in the debugger, everything is defined, including the font family

[2017-07-17 08:54] saeedjalali1 opened #257 "[Quetion]Dynamically loading theme"
I want to create app like Shopify with react. I want to create several theme that user can select the favorite theme. My Question is how to do this with your awesome packages ?

[2017-07-18 03:20] milesj commented on #209
@ecozoic I'm having the exact same problem. Did you ever figure it out?

`StyleSheetTestUtils.suppressStyleInjection` doesn't actually fix the problem for me.

[2017-07-18 12:51] couturecraigj commented on #209
@xymostech I gave up on using it... moved everything to post-css... I tried everything, re-wrote it three times and got tired of trying to make it work.  For some reason it was not working... not sure if it was my stack but I got a lot of stack to dig through so had to move to something a little less fragile for my globals.

[2017-07-18 16:22] danny-andrews opened #259 "Fix misleading project description"
When you do a Google search for aphrodite, this is what you see.

![image](https://user-images.githubusercontent.com/14965732/28327932-80f6800e-6baa-11e7-9a14-ce9de4bef1a1.png)

I think the description "It's inline styles, but they work!" is poor for a two reasons:
1. It's not accurate. Aphrodite doesn't operate on inline styles at all. It takes in full-featured css and generates classnames from i

[2017-07-18 16:56] lencioni commented on #259
Thanks for starting the discussion on this! Do you have any suggestions for something better?

[2017-07-18 17:01] danny-andrews commented on #259
Hmmmm...good question. :D "CSS-in-JS" seems to be the most common term to describe the approach in this library. So maybe including that in the description would clue people in to what this library is about. Also including whatever you think sets this library apart from other CSS-in-JS approaches. I think built-in support for server-side rendering and extracting critical css is pretty rad! https:/

[2017-07-18 17:57] xymostech commented on #259
Hello @danny-andrews. Thank you for bringing this up... we've had discussions about this in the past, but haven't come up with a good alternative, so I've never changed it! Back when we first started working on Aphrodite, there weren't many libraries around and being able to be used in our production environment (i.e. "work") so we thought we'd be cheeky with the description. Something more up-to-

[2017-07-18 18:00] danny-andrews commented on #259
I think that's definitely on the right track! What do you mean by "minimal css," though?

[2017-07-18 18:03] xymostech commented on #259
I guess I mean "only generates the minimal amount of CSS needed to render the page", but maybe that's not clear. Do you have an idea for how to convey the "extracting critical CSS/only generating needed CSS" concept in very few words?

[2017-07-18 18:11] danny-andrews commented on #259
Maybe something like "Framework-agnostic CSS-in-JS with support for server-side rendering, browser prefixing, and critical css."

Words is hard. :p

[2017-07-18 22:21] xymostech commented on #259
That mostly sounds good to me, but I don't think most people will know what "critical CSS" means. To me, "minimal css" or maybe "minimal generated css" is clearer. What do you think?

[2017-07-18 22:26] danny-andrews commented on #259
Yeah, it's certainly a tradeoff. For people who know the term, they will immediately understand what understand what functionality is being referenced, but to people who don't, it won't be much of a draw.

Changing it to "critical css *generation*" would help, but "minimal generated css" is good as well.

[2017-07-19 14:57] danwoodbury opened #260 "Get generated css as string"
Hi,

How would I get the styles that are generated? Generally this works flawlessly for me but I have an edge case where I need to get the generated css to pass into an iframe.

To put it into context, I am building a kind of site builder where the preview is rendered into an iFrame, currently I am just using `style={styles.container._definition}` on the elements but this does not work for hover s

[2017-07-19 18:57] xymostech commented on #260
I think this is the same issue as #130. I'm still not really sure of a good solution to this. :P I presented a vague idea of something like `StyleSheet.renderInFrame(frame, () => { ... })` to tell Aphrodite which frame to render in, but no work has been done on that.

Closing in favor of #130

[2017-07-19 18:57] #260 closed

[2017-07-19 19:08] xymostech commented on #259
I'm going to go with "Framework-agnostic CSS-in-JS with support for server-side rendering, browser prefixing, and minimum CSS generation". Hopefully that'll be more accurate and useful than what we have now. :) Thanks for complaining!

[2017-07-19 19:08] #259 closed

[2017-07-19 19:12] danny-andrews commented on #259
Anytime. ;)

[2017-08-01 09:03] luixxiul opened #261 "Create a new env variable to turn off class minifying"
It would be nice to set up a new env variable to turn off class minifying.

Since it is enabled by default and not listed on CHANGELOG.md, it could cause an issue which is hard to detect. Please refer my comment here: https://github.com/Khan/aphrodite/pull/246#issuecomment-319022324

[2017-08-01 21:37] tolmasky opened #262 "Directing style creation when rendering to iframes"
In our application, we render to Dom elements in other iframes:

[code]
But the Aphrodite styles get added to the parent instead of the iframe. Is there a way to tell Aphrodite which to use? For example:

[code]

[2017-08-01 22:02] xymostech commented on #262
I think this is a duplicate of #130, which doesn't yet have a solution. You can see the discussion in there for some ideas of how to solve this, but none have been implemented.

[2017-08-01 22:02] #262 closed

[2017-08-02 02:08] xymostech commented on #261
Hello @luixxiul! Thanks for bringing this up. I followed the link to the error it looks like you are encountering, here: https://github.com/brave/browser-laptop/issues/10029#issuecomment-317886257

It looks like you're depending on the class names that Aphrodite is generating which we generally discourage and we earlier discussed *explicitly* not working to keep the format of the class names fixed

[2017-08-02 12:11] BabakMN commented on #239
I'd also like to be able to disable autoprefixing during development. It makes debugging easier (in the console).

[2017-08-02 13:00] Kerumen commented on #239
I totally agree with @BabakMN. Currently, it's a pain to debug if you want to quickly disable / enable a CSS property as you have to do for all the prefixed-properties..

[2017-08-04 01:34] BabakMN opened #264 "[Feature] Extract a static and complete CSS file?"
Would it be possible to allow for the extraction of a static CSS file instead of injecting the rendered CSS into the HTML document?

For some projects I prefer to have a static CSS file that can be served via CDN with long-term caching.

I suspect that it is technically impossible (due to aphrodite relying on a react render) but I thought it doesn't hurt to open an issue for discussion.

[2017-08-04 01:42] xymostech commented on #264
Hi @BabakMN! I'm not exactly sure what you're asking, but it sounds fairly easy to accomplish with the features we provide today. Aphrodite doesn't depend on anything in React, so you should be able to do this separately from however you are rendering the HTML. For instance, if you were rendering with React, you might do...

[code]

If you're going to do further rendering on the client page, you'd

[2017-08-04 02:13] BabakMN commented on #264
Basically I want a way to avoid having to inject the CSS on a render-by-render basis inside the HTML page. But rather extract a static CSS file that includes everything so that it can be referenced using a link tag and served from a CDN with long-term caching, also reducing the HTML page size.

My understanding is that currently it is not possible to achieve this because what aphrodite sees and ge

[2017-08-04 02:25] jlfwong commented on #264
@BabakMN yep, that's not going to be possible with Aphrodite. It was kind of, in fact, an anti-goal of the project. Our goal was to serve only the minimum CSS needed to render the initial page, not the CSS needed to display every possible state of the application like you suggest.

If you wish to extract the CSS externally, then you might consider a project such as CSS modules: https://github.com/

[2017-08-04 02:47] xymostech commented on #264
Ah yes, sorry I didn't understand your question @BabakMN. +1 to what @jlfwong said, this seems to be contrary to the goals of this project, unfortunately.

[2017-08-04 02:47] #264 closed

[2017-08-04 02:51] xymostech commented on #264
(And @jlfwong I just added you back as a contributor. Not sure what happened. ¯\_(ツ)_/¯)

[2017-08-04 04:34] BabakMN commented on #264
Thanks everyone.

[2017-08-05 03:09] canadaduane opened #265 "Using an object instead of `StyleSheet.create` causes `css` to throw difficult to trace error"
This was my first experience using Aphrodite:

I tried switching from Radium to Aphrodite. In Radium, styles are expressed as follows:

[code]

I didn't notice at first that Aphrodite requires the use of `StyleSheet.create({})` in the definition of styles and rather than changing the styles, I started switching all of the `style={styles.xyz}` jsx attributes to `className={css(styles.xyz)}` attribu

[2017-08-15 15:18] kevinbarabash opened #266 "de-kebab-ify pseudo-classes"
I recently had to use `::-moz-focus-inner` to fix an issue.  It would be nice if `::MozFocusInner` work so that there's consistency between how normal properties and pseudo-classes work.

[2017-08-17 22:01] #74 closed

[2017-08-18 16:28] erikfox opened #267 "Override classname by providing string or function"
### Current State
Currently the returned classnames are deterministic: https://github.com/Khan/aphrodite/blob/master/src/inject.js#L282
[code]

### Desired State
I would like there to be an option for me to pass a function or explicit string that would override this, letting me choose the classname for the styles being injected.

### Use Case
I would like to use either `StyleSheet` or `css()` to c

[2017-08-18 16:41] erikfox commented on #267
Actually, this request may fall out of the domain of Aphrodite, as it looks like Aphrodite focuses on developing multiple `<style>` injections rather than a global stylesheet?

Please let me know if the use case I describes falls out of the scope of intended usage.

[2017-08-18 18:31] xymostech commented on #267
Hmm, we've talked about this before in #160 and I think the answer is that we want to have control over the class names that we generate and don't want people to depend on the output, so we don't want to let people change how they are generated.

[2017-08-18 18:31] #267 closed

[2017-08-19 21:01] cezaraugusto opened #268 "consider exposing an API to allow custom browser support"
The [browser-list](https://github.com/Khan/aphrodite/blob/master/tools/generate_prefixer_data.js#L8) could be configurable to allow authors to edit which browser they'd like to support.

With the current built-in list, we end up with bloated styles that are often never used and makes debugging styles harder. In my case specifically I only need to support Chrome latest but I bet this is the kind of

[2017-08-21 21:42] lencioni commented on #268
I think this is a duplicate of #239. Please re-open if I am mistaken!

[2017-08-21 21:42] #268 closed

[2017-08-23 02:44] LucasDvp opened #269 "[TODO] important should add on attribute not global settings"
FYI.

[2017-08-23 18:27] xymostech commented on #269
@LucasDvp Can you be more specific about what you're seeing here? I'm not sure what you mean.

[2017-08-24 01:16] LucasDvp commented on #269
@xymostech It's more like the an enhancement, which mentioned on TODO list.
- adding the **"important!"** label to which attribute is set before, not all the attribute;

[2017-08-24 01:33] xymostech commented on #269
We have the ability to not add `!important` to certain properties. By importing `"aphrodite/no-important"`, the generated styles won't have `!important` on them. I think that's what you're asking about, feel free to re-open this if that doesn't solve your problem.

[2017-08-24 01:33] #269 closed

[2017-08-24 02:34] LucasDvp opened #270 "How about mixin and nested items?"
How to set mixin and children's styles

[2017-08-24 17:55] xymostech commented on #270
Hi @LucasDvp. Can you give some more specifics about what you're trying to accomplish?

I'm not sure if this is what you're asking about, but since Aphrodite styles are just Javascript objects, so you can do "mixins" by just merging styles:

[code]

[2017-08-25 04:19] LucasDvp commented on #270
@xymostech, like if I have React component

[code]

I need to style span,  so using css :

[code]

So if I'm using aphrodite, how do I style the children spans?

[2017-08-25 04:41] xymostech commented on #270
Aphrodite doesn't currently let you do that. The current recommendation is to just manually add a class name to each of the spans. To make that easier, you can make a functional component, like:

[code]

Functionality to do that is discussed in #10, but we don't have a good solution for that yet.

[2017-08-25 04:41] #270 closed

[2017-08-25 04:44] LucasDvp commented on #270
I think nest is an crutial function, hope see it next version🤗

[2017-08-27 03:32] cezaraugusto commented on #239
is there an intention to implement for this?

[2017-08-29 21:32] #217 closed

[2017-08-29 21:33] #220 closed

[2017-08-30 19:08] danwoodbury commented on #62
I am using typescript and create-react-app (un-ejected) and I am still getting the error after trying all of the methods above. I want to keep using aphrodite but if it means I cannot run any tests then I will be forced to try something else. Unless someone can help fix it.

this is the test:

[code]

and the component:
[code]

There is nothing particularly complicated about it but I just wanna te

[2017-08-30 21:46] lencioni commented on #62
@danwoodbury can you put together a minimal repo that reproduces the issue to help us dig into it for you?

[2017-08-31 10:33] danwoodbury commented on #62
thanks @lencioni but the problem has been averted. I remembered that a while ago when I wasnt using create-react-app that if you had styles in a separate file then you had to do some funny webpack config to get it to work so i moved all of my aphrodite styles into the component file and by adding `beforeEach` and `afterEach` it works like a dream.

Also, ive come to realise this is a much better s

[2017-08-31 23:00] majapw opened #271 "`generateSubtreeStyles` returns a string which is hard to manipulate"
Hello!

I have written a custom selector handler for Aphrodite which aims to prefix the style definitions with a particular context (https://github.com/airbnb/react-with-styles-interface-aphrodite/blob/master/src/withRTLExtension.js). One thing I've found though is that manipulating the string generated by `generateSubtreeStyles` is a bit difficult and not super performant (I'm currently relying o

[2017-09-08 19:37] axpence commented on #127
Any update on supporting child combinator as well? would be great!

[2017-09-19 17:17] collingo opened #272 "Class name minification breaks universal rendering when `NODE_ENV=production`"
Unless I have set something up completely wrong it seems universal rendering of React based apps using Aphrodite is broken when `NODE_ENV=production`. This env var is not available in the browser so we get different classes generated on client/server and the following React error in the browser console...

[code]

Are there any workarounds that don't involve unsetting the commonly used `NODE_ENV`

[2017-09-19 19:25] lencioni commented on #272
It sounds like you need to set up your build tools to replace the NODE_ENV properly. There are some instructions on how to do this here: https://facebook.github.io/react/docs/optimizing-performance.html

Does that help?

[2017-09-19 20:33] collingo commented on #272
That'll do it! Thanks for the speedy response @lencioni 😄

[2017-09-19 21:04] lencioni commented on #272
🐣

[2017-09-19 21:04] #272 closed

[2017-09-21 18:58] canadaduane opened #273 "`@keyframe in` and `@keyframe out` support"
I'd like to learn how to do keyframe support for transitions "in" and "out":

[code]

(see https://stackoverflow.com/questions/16516793/css3-reverse-animation-on-mouse-out-after-hover#16516826)

[2017-09-21 19:02] canadaduane commented on #273
Nevermind, it's in the docs: https://github.com/Khan/aphrodite#animations

[2017-09-21 19:02] #273 closed

[2017-09-27 01:28] vbalcom commented on #230
A CSS to JS Object converter may help with that: https://github.com/raphamorim/native-css

[2017-09-28 04:46] milesj commented on #62
FWIW, I've tried every approach in this thread and none of them solve the issue. Using the latest Aphrodite, Jest, and React (16).

[2017-09-29 17:25] lewisf commented on #245
This might be tangentially related:

We call the `render` functions on our components during our data query collection phase (react-apollo) to walk the UI tree asynchronously. Without async support in this library it's impossible to turn off the injection which leads to `"Cannot automatically buffer without a document"` while this is happening.

We've currently forked Aphrodite so we could use `co

[2017-09-30 14:37] PaulBrunache opened #274 "Uncaught TypeError: StyleSheet.rehydrate is not a function"
Not too sure what I'm doing wrong here. I looked at https://github.com/Khan/aphrodite/issues/24
for reference but it didn't really help my case although I'm getting the same exact error. I see it renders fine without defining StyleSheet.rehydrate but whenever I do i get the not a function error.
Like the issue referenced I thought this was a global method. My call is also after the main js is load

[2017-09-30 14:43] PaulBrunache opened #275 "Uncaught TypeError: StyleSheet.rehydrate is not a function"
Not too sure what I'm doing wrong here. I looked at https://github.com/Khan/aphrodite/issues/24
for reference but it didn't really help my case although I'm getting the same exact error. I see it renders fine without defining StyleSheet.rehydrate but whenever I do i get the not a function error.
Like the issue referenced I thought this was a global method. My call is also after the main js is load

[2017-09-30 14:44] #274 closed

[2017-09-30 14:45] PaulBrunache commented on #274
duplicated by accident
https://github.com/Khan/aphrodite/issues/275

[2017-09-30 15:41] PaulBrunache commented on #275
re went through the code in https://github.com/Khan/aphrodite/issues/24

### updated my react method to have
[code]
### and right before my main render I did

[code]

[2017-09-30 15:44] #275 closed

[2017-10-05 13:16] PaulBrunache commented on #265
I'm confused because it just seems like you didn't read the API initially

Are you suggesting the error should be better because this error actually does make sense?

[2017-10-05 14:24] canadaduane commented on #265
Yes, an error message that better explains the dumb mistake I made would
have saved a lot of time, and I think others might benefit, too.

On Oct 5, 2017 7:16 AM, "Paul Brunache" <notifications@github.com> wrote:

[2017-10-05 18:35] PaulBrunache commented on #265
submit a pull

[2017-10-05 18:37] canadaduane commented on #265
I will if I have time (but I don't right now).

On Thu, Oct 5, 2017 at 12:35 PM, Paul Brunache <notifications@github.com>
wrote:

[2017-10-11 16:12] vladnicula opened #278 "Bundle size badge"
Styled components and glamorous have the bundle size and gziped size badge.

I'm checking the bundle size differences now on my project. Would have been great if I saw it on the readme just like the other css in js frameworks.

[2017-10-12 00:02] lencioni commented on #278
I think this is a great idea and this is related to something I've been thinking about doing here lately as well to reduce the bundle size impact of Aphrodite. Would you be interested in submitting a PR to add the badge?

[2017-10-12 06:25] vladnicula commented on #278
https://github.com/Khan/aphrodite/pull/280

[2017-10-12 15:29] lencioni commented on #278
Closed by #280

[2017-10-12 15:29] #278 closed

[2017-10-21 04:43] zjin0522 opened #282 "'Cannot convert undefined or null to object' when use css("style")"
Hi
My version is "aphrodite": "^1.2.5", I wrote a test to test what's the result render by css functionality from aphrodite, the code as follow:

[code]

Then i got error as follow, could you give me some kinds of suggestion what's wrong on this ?
[code]
Thanks very much

[2017-10-21 06:54] jlfwong commented on #282
Hi @zjin0522

If you change:

`    console.log(css(test));`

to

`    console.log(css(test.red));`

Then I think that should solve that problem.

Hope that helps!

[2017-10-21 06:54] #282 closed

[2017-10-21 12:27] zjin0522 commented on #282
Thanks very much for the answer,  does that means i always need to wrap the css properties into some object? , how about  i change the code as follow?
[code]

[2017-10-26 19:14] jameswlane commented on #130
I am working on a new component library and I am using Storybook to display the component. I also ran into this issue. Its been almost a year on this issue, any progress on nailing this bug down?

[2017-10-27 14:02] estaub commented on #108
At the risk of wasting your time, I have to say to everyone on it: this issue is a GREAT read!  @jlfwong If it hasn't been done a zillion times already, consider a blog post.  I've found it hard to get good guidance in this area, and learned most of what's been said here through hard knocks.

[2017-10-30 20:48] dangodev opened #283 "Question on conditional @font-face rule"
In the README, the following is stated:

`@font-face` only requests fonts **if** that font is being used on the page. It won’t request all fonts used in the CSS, even if the styles are declared, unless that font is actually required for paint. In theory, you can have as many `@font-face` declarations as you’d like loaded onto the page, but only the fonts actually being used on that page are reques

[2017-10-30 21:50] xymostech commented on #283
One of the goals of Aphrodite is to generate the smallest amount of CSS in order to render a given page. That goal was defined so that with server-side rendering would let your pages download the fewest bytes to render correctly. So you're right, we could insert those rules and there wouldn't be any problems, but it wouldn't match our goals.

From a technical side though, Aphrodite doesn't look at

[2017-10-30 21:50] #283 closed

[2017-10-31 03:34] dangodev commented on #283
That makes a lot of sense. I initially read that as if it were specific to `@font-face`, not the general goal you described. Though I don’t know how you would change that language to be clearer.

Thanks for answering my question!

[2017-11-02 21:02] matiastucci opened #284 "[question] Access props from styles"
Is there an easy way to access props from the styles?

something like this for example:

[code]

thanks!

[2017-11-02 22:32] xymostech commented on #284
You can create the styles whenever you want, so putting that declaration inside your `render()` method and using the resulting styles object works fine! Does that answer your question?

[2017-11-02 22:32] #284 closed

[2017-11-04 15:51] vladtamas opened #285 "Minify class names by setting the environment variable process.env.NODE_ENV to the string value production."
Hi,

I'm new to node.js and I don;t know how to set the environment variable when I run a script. Can you explain me how should I do it?

[2017-11-08 17:30] chris-verclytte opened #286 "Add support for :vertical and :horizontal pseudo classes"
Hello,

I am trying to hide vertical scrollbar on Chrome with the following CSS rule `::-webkit-scrollbar:horizontal` according to [this documentation](https://webkit.org/blog/363/styling-scrollbars/).
Thus, I wrote an Aphrodite rule like this:
[code]

But it does not work, if i just put the rule on '::-webkit-scrollbar', it works well on both vertical and horizontal scrollbars but the :vertical p

[2017-11-09 03:29] u-kan opened #287 "problem on hash suffix from css() when testing with jest snapshot"
Hi everyone. thanks for creating this awesome library!!

I have a problem when I use ```css()``` with jest snapshot test.

when a component renders, ```css()``` put random characters on its classname. Because of this, jest snapshot tells there are somethings change from before version to current version.

Are there any ways to ignore this feature only when its test mode.

Thanks in advance!!

[2017-11-09 22:26] zgotsch commented on #285
**env.js:**
[code]

**Usage:**
[code]

See also general environment variables [guide](https://www.digitalocean.com/community/tutorials/how-to-read-and-set-environmental-and-shell-variables-on-a-linux-vps), `process.env` [docs](https://nodejs.org/api/process.html#process_process_env), and [EnvironmentPlugin](https://webpack.js.org/plugins/environment-plugin/) if you're using webpack.

[2017-11-10 14:13] Soreine opened #288 "Minify classnames as an option"
It would be great to have a way to tell aphrodite not to minify classnames.
We currently have our classnames minified in production, because we set `process.env.NODE_ENV = 'production'`.
The said option would prevail on `process.env.NODE_ENV` value.

---

This option would prove useful for us to debug errors in production. We are using a tool that notifies about errors in our app. The tool adds an

[2017-11-11 01:14] tolmasky opened #289 "Composable Styles"
We internally use a wrapper around Aphrodite at RunKit that we'd be happy to put work into turning into a PR for composable styles if there is enough interest here. First off, allow me to explain the problem, this addresses. Before using a library like Aphrodite, it was easy to mix internal styles with styles passed down to the custom component, using a pattern something like this:

[code]

Howeve

[2017-11-18 04:22] xymostech commented on #287
(I'm in the hospital, sorry for responding slowly and sorry if I continue to respond slowly)

The hashes that we append to class names are based on the styles that you're applying, so I just want to confirm: the changes you're seeing are happening when you change the styles in those components, right?

I'm not really sure what a good way to handle this is. Aphrodite is trying really hard to genera

[2017-11-18 04:26] xymostech commented on #286
(I'm in the hospital, sorry for responding slowly and sorry if I continue to respond slowly)

Huh! I'm confused why that doesn't work, I would expect it to. :( Do you think you could look at the generated styles and see what we're putting in there? There should be a `<style data-aphrodite>` element in the DOM with all of the CSS rules. Searching the contents of that for `:vertical` or `::-webkit-s

[2017-11-18 04:31] xymostech commented on #288
(I'm in the hospital, sorry for responding slowly and sorry if I continue to respond slowly)

Hey @Soreine! I'm glad the tool is working out for you! Yeah, that's an interesting consequence of the class name minification that we added. Those errors don't look terribly helpful! :(

@gilbox was the one who originally added the minification step. Maybe they have thoughts about what to do about this?

[2017-11-18 04:55] xymostech commented on #289
(I'm in the hospital, sorry for responding slowly and sorry if I continue to respond slowly)

Hi @tolmasky! Thanks for the writeup of what you're doing! That's a very interesting approach to get around this problem. At Khan Academy, we started solving this by just passing around the style objects produced by `StyleSheet.create()` in a `style` prop, like `style={styles.foo}`. This didn't work in al

[2017-11-18 04:57] xymostech commented on #285
@vladtamas Let us know if that worked for you or not! I'm going to close this issue, because it's not a bug or feature request having to do with Aphrodite itself.

[2017-11-18 04:57] #285 closed

[2017-11-18 06:03] gilbox commented on #288
👍 to the global function to disable it.

[2017-11-18 09:44] Soreine commented on #288
A global function is a good quick fix. Be careful though,  the current design of aphrodite revolves around using side-effects on import. This is not flexible. Having an `aphrodite/no-important` export is symptomatic of this.

Maybe you have good reasons to have it work that way. But something like this would be great:

[code]

[2017-11-18 16:11] tolmasky commented on #289
Hi Emily,

Thank you so much for the response and very sorry to hear you are in the hospital.

I'll certainly take a look at this strategy more deeply, but off the top of my head the possible benefits of our solution are:

1. Sometimes the styles we create can't be hoisted to file scope, but must be generated in the render function itself. In this case, passing around the stylesheet object would t

[2017-11-19 06:43] u-kan commented on #287
First of all, please take care of yourself. This is not an emergent issue, so feel free to take your time to get yourself back first :D

Answers are below.

This is true.

Since although I don't render stylesheet when testing, snapshot does not change except hash suffix.

I agree with this. This function makes me feel easy to decide className. Big help.

It's only a bit, and No I don't normally ex

[2017-11-20 15:21] chris-verclytte commented on #286
@xymostech No worries ! Health matters, wish you a good recovery !
I am going to see if I can find more helpful about what is/is not generated in the CSS rules and let you know asap.

[2017-11-20 16:20] lencioni commented on #289
@tolmasky you might want to consider not passing classes and styles between components entirely. Here's an article that outlines why and some strategies you can employ: https://brigade.engineering/don-t-pass-css-classes-between-components-e9f7ab192785

Although the article is written about className specifically, the reasoning and techniques also apply to arbitrary sets of styles.

[2017-11-27 13:54] 14850842 opened #290 "SSR Component Library"
We have a component library with components styled using aphrodite.

When importing this into a server-side rendered project the components we get the following error:

[code]

**npm packaged component**

[code]

**SSR Rendered App**

[code]

If I use an aphrodite styled component within the application it runs with no issue.

[2017-11-27 16:16] lencioni commented on #290
@14850842 Does this documentation help at all? https://github.com/khan/aphrodite#server-side-rendering

[2017-11-27 16:28] 14850842 commented on #290
Yeah I have that working fine when using components built within the same repository. Once I import from our remote component repository I get the error.

[2017-11-27 16:33] lencioni commented on #290
Is it possible that you have two different copies of Aphrodite in your bundle? Perhaps one as a nested dependency?

[2017-11-27 18:27] 14850842 commented on #290
Ok I have made some progress, I am using npm link to link to the local repository of the component library, if I install to the remote library and remove the link the issue is solved.

[2017-12-20 13:51] kilgarenone opened #292 "@font-face with system fonts"
What is the equivalent of this in aphrodite?

[code]
I tried the values as a string in quotes but didn't work.

[2018-01-15 17:42] dmiller9911 opened #293 "[Feature Request]: getBufferedStyles method for StyleSheetTestUtils"
I was hoping to be able to put together something similar to [jest-glamor-react](https://github.com/kentcdodds/jest-glamor-react), but unfortunately, I don't see a great way to get the style buffer.  The only way I can see getting it currently is to call `flushToString`, and then call reset (otherwise the `alreadyInjected` remains populated).  This seems a little heavy handed, and I was hoping for

[2018-01-26 16:38] jondkoon opened #295 "Feature Request: RTL support"
Are there any plans to support RTL in aphrodite? Perhaps it could be implemented using https://github.com/kentcdodds/rtl-css-js

Would you accept a pull request to add RTL support? Thanks!

[2018-01-31 22:18] #293 closed

[2018-02-01 21:53] milesj opened #296 "Multiple @font-face with the same font family name"
How to support this correctly? When using this approach (using the same font family name is valid):

[code]

It generates CSS like the following:

[code]

Which in turn, causes the same font to be loaded over and over, causing annoying consecutive white screen flashes.

<img width="1274" alt="screen shot 2018-02-01 at 1 52 58 pm" src="https://user-images.githubusercontent.com/143744/35705437-46819

[2018-02-12 10:23] damienleroux commented on #288
+ 1.

I have Selenium tests that uses classnames for targetting DOM elements. When launching the test on a "prod" build, all tests failed because classnames were removed.

[2018-02-12 11:15] gilbox commented on #288
imo data attributes are a better way to target DOM elements in your selenium tests since they don't rely on implementation detail

[2018-02-13 13:34] Kerumen commented on #288
I'm sad we chose this library in our company project. It's broken since `1.2.2`, no fix are under development but they decide to update the tagline.
If I knew that, I would have chose another CSS-in-JS library (well-maintained and not buggy).

[2018-02-15 00:01] #288 closed

[2018-02-20 18:48] lewisf commented on #245
Can we start a conversation around what it's going to take to make streaming support a reality? It looks like we're coming closer and closer to a reality where people building React applications are going to want it.

As @goatslacker mentioned:

Is multiple injection buffers something that the maintainers of Aphrodite actually want to support with this project in the future? If so, it would be ver

[2018-03-04 19:37] lencioni commented on #295
We are using Aphrodite at Airbnb and working on solving RTL. I think we have something pretty good with [react-with-styles](https://github.com/airbnb/react-with-styles). Some more info on the RTL stuff we've been building over there: https://github.com/airbnb/react-with-styles-interface-aphrodite#built-in-rtl-support

[2018-03-04 19:39] lencioni commented on #296
I'm not very familiar with this portion of Aphrodite, but this looks like a bug to me (and if it's not a bug, it should be clarified via documentation). Would you be interested in digging a little more into this problem, and perhaps opening a PR to address it (either updating docs, or modifying code)?

[2018-03-04 19:39] lencioni commented on #292
Can you share an example of the code you've tried and the result it has produced?

[2018-03-04 19:42] lencioni commented on #266
I'm not convinced about that the value is worth the additional code complexity here. For normal properties, being able to convert from camelCase to kebab-case is really useful to make it easier for devs to type out all of those styles (e.g. don't have to add quotes around the keys). Since these styles already require quotes because of the colons, we won't get that benefit. Thoughts?

[2018-03-04 19:44] lencioni commented on #255
I've recently made some major changes to the build here. Can you try again and report back if you are still running into this issue? Thanks!

[2018-03-04 19:49] lencioni commented on #257
You can add themes using react-with-styles, or use it as inspiration for your project: https://github.com/airbnb/react-with-styles

[2018-03-04 19:49] #257 closed

[2018-03-10 06:06] kevinbarabash commented on #227
Closing as a duplicate of #224.

[2018-03-10 06:08] kevinbarabash commented on #227
Re-read this and it's a bit different.

[2018-03-10 06:19] kevinbarabash opened #306 "Add public function to determine if an object is an aphrodite style or not"
I'm working on some components that have a `style` prop that's similar to the `style` prop in React Native components which can take either inline styles or styles from StyleSheet objects.  The components need to know how to disambiguate between the types of objects being passed in so that they can apply the slides correctly in the render method.

Proposed API:
[code]

[2018-03-10 06:25] kevinbarabash opened #307 "Add a public API to return the definition for a style"
I was experimenting with Storybook's jsx addon.  Here's its output for a component that's passed an aphrodite style as a prop:
<img width="245" alt="screen shot 2018-03-08 at 2 45 54 pm" src="https://user-images.githubusercontent.com/1044413/37239020-64052274-2401-11e8-9ea4-e1fc0a6547b2.png">

I would like to update the plugin to handle aphrodite styles more gracefully by being display the definit

[2018-03-13 20:54] lightninglu10 opened #308 "Aphrodite Duplicating ClassName on SSR"
Hey guys, I'm using Next.js to server side render my app. I have some components that render solely on the client, and some that render on the server.

I tried utilizing Aphrodite's StyleSheet.rehydrate, but I don't see it working, and my styles from the server are clobbering my styles from the client (they become the same className, even though they're different styles).

[code]

Any idea what's

[2018-03-15 03:57] lencioni commented on #306
We do this in react-with-styles-interface-aphrodite. https://github.com/airbnb/react-with-styles-interface-aphrodite/blob/e9c088d8998bed347ff5c26f54a22d8dfd633cb6/src/utils/separateStyles.js

Can you make a case for adding it to this project vs a separate project or something?

[2018-03-15 03:58] lencioni commented on #307
To clarify, you would expect this to return the value of the `_definition` key?

[2018-03-15 04:04] lencioni commented on #271
@majapw it looks like that string manipulation approach is no longer a thing. Is that right?

*If this is no longer a thing* do you think making this change would still be valuable?

*If this is still a thing* can you point me to the new location of the magic?

[2018-03-15 04:18] lencioni commented on #68
Closing this as stale. Please re-open this is still an issue!

[2018-03-15 04:18] #68 closed

[2018-03-15 04:21] lencioni commented on #88
While I think there is probably room for better error messages in dev, this issue isn't very actionable so I'm going to close it. If you disagree, please open a new issue with a more actionable proposal!

[2018-03-15 04:21] #88 closed

[2018-03-15 04:23] lencioni commented on #103
Thanks for opening this issue! I'd be happy to review a PR that adds examples to the readme!

[2018-03-15 04:23] #103 closed

[2018-03-15 04:35] lencioni commented on #172
I'm not a TypeScript expert, but it seems that this was fixed by #302. Please open a new issue or PR if I am wrong!

[2018-03-15 04:35] #172 closed

[2018-03-15 04:38] lencioni commented on #174
This issue seems stale, and the maintainers who have commented seem to be against this proposal, so I'm closing it out. Thanks for the suggestion @jaredly!

[2018-03-15 04:38] #174 closed

[2018-03-15 04:42] lencioni commented on #197
Thanks for the question! I'm going to close this out, but feel free to keep the discussion going!

[2018-03-15 04:42] #197 closed

[2018-03-15 04:46] lencioni commented on #308
I think it might be hard to say without more context. e.g. what is executed before the rehydrate call? Can you put together a repo that reproduces the issue?

[2018-03-15 06:48] majapw commented on #271
We're no longer using this approach but I feel like it would still be valuable to anyone writing custom selectors to have access to the object (rather than the string).

[2018-03-15 09:47] kevinbarabash commented on #306
If we change the internal implementation of Aphrodite it will break that code.  It seems like a generally useful function to have to support tooling.  We could do it in a separate package but that package should be part of this repo and have tests so in order to avoid breakages.

[2018-03-15 09:49] kevinbarabash commented on #307
Yes.  But we might change how we store the definition in the future.  This might make sense as a separate package inside this repo.

[2018-03-16 15:31] dmiller9911 commented on #287
@u-kan it might be a little late, but with the new release of Aphrodite, a new API was exposed to retrieve the buffered styles while testing. This allowed me to create this:  https://github.com/dmiller9911/jest-aphrodite-react it is based on glamorous's snapshot serializer here:  https://github.com/kentcdodds/jest-glamor-react

[2018-03-16 19:48] lencioni commented on #306
Sure, might as well I guess. Want to submit a PR? It would be great if your PR refactored any internal code that might benefit to also use this function.

If I understand tree-shaking correctly, we should be able to expose this as a named export and it won't affect consumer bundle sizes if they don't import it.

[2018-03-16 19:49] lencioni commented on #307
I think I feel similar to https://github.com/Khan/aphrodite/issues/306#issuecomment-373825834 about this

[2018-03-19 13:08] Kerumen opened #311 "`minify` and `flushToStyleTag` missing from `no-important` export"
If we use Aphrodite with the `no-important` import, we can't import `minify` and `flushToStyleTag`.

[default](https://github.com/Khan/aphrodite/blob/23e2d255341cb42102fc4451e8abcbc06842e9e7/src/index.js) vs [no-important](https://github.com/Khan/aphrodite/blob/23e2d255341cb42102fc4451e8abcbc06842e9e7/src/no-important.js) export

[2018-03-19 13:43] jim-moody opened #312 "Is there a way to do animation shorthand?"
The docs show an example of defining an animation like this:
[code]

This results in a large object to define an animation. I would prefer a shorthand option such as:
[code]

Or some other similar syntax that requires 1-2 lines of code instead of 6.

[2018-03-19 18:56] lencioni commented on #311
Ah thanks for reporting! Would you be interested in submitting a PR that fixes this? (Bonus points for adding a test that verifies default and no-important always export the same stuff) 😸

[2018-03-19 18:57] lencioni commented on #312
Does the animation shorthand CSS property work? https://developer.mozilla.org/en-US/docs/Web/CSS/animation

[2018-03-20 16:37] lencioni opened #313 "Expose injectAndGetClassName and defaultSelectorHandlers"
When we started using rollup to build this package (Aphrodite v2, https://github.com/Khan/aphrodite/pull/281), things that were previously deep-importable are no longer accessible by consumers. In 2.1.0 we exposed `flushToStyleTag` to un-break react-with-styles-interface-aphrodite (https://github.com/Khan/aphrodite/pull/310) but while working to update some things I also noticed that react-with-st

[2018-03-21 15:19] Duskfall opened #314 "Edit generated styles in dev tools"
Is there a way to edit the generated styles in chrome dev tools? Currently they are grayed out, which decreases development time.
![image](https://user-images.githubusercontent.com/2528125/37718701-ff9d49cc-2d2b-11e8-91ea-0f356a4a9403.png)

[2018-03-23 13:10] dmiller9911 commented on #314
Does a refresh help?  I sometimes see this if I have them open and things change.  Usually, a refresh will resolve it. I have seen this with other css-in-js libs before and never could pin down why it was doing it.

[2018-03-28 17:25] jjmax75 commented on #314
same here, can't turn off styles or edit in dev tools

[2018-03-30 22:09] #311 closed

[2018-03-31 23:47] osdevisnot opened #317 "Possibly incorrect code coverage reporting"
It seems the readme currently displays code coverage as 0% as seen in screenshot below:

<img width="1265" alt="screen shot 2018-03-31 at 4 41 05 pm" src="https://user-images.githubusercontent.com/802242/38168497-9e42d1f4-3502-11e8-8d2f-3221b71ea971.png">

There were few attempts to get this in past. Notably #218 and #47

cc: @thiamsantos @xymostech @sarbbottam

[2018-04-04 01:54] pelotom opened #318 "Use csstype"
[`csstype`](https://github.com/frenic/csstype) is a set of standard, high-quality CSS typings generated from MDN data. It is now being used by the React and JSS typings. It would be great to have the entire CSS-in-JS ecosystem standardize on these typings rather than each project maintaining its own pet CSS typings, each with varying degrees of completeness and usually inconsistent with one anothe

[2018-04-04 02:58] jlfwong commented on #318
I'd be open to a PR which updates the CSS typings to use `csstype` :)

For reference, the PR that changed the `CSS` typings for React to use `csstype`: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24688

It seems like this isn't as battle tested as the existing types that we're using from https://github.com/paypal/glamorous/blob/master/typings/css-properties.d.ts, but the fact that this

[2018-04-04 07:34] zhishaofei3 opened #319 "how to write Nesting ?"
[code]

[2018-04-05 23:42] dmiller9911 commented on #319
This is somewhat not supported. The only real nesting that is supported is pseudo selectors (:hover, :active, etc) and media queries. The way you would do it in Aphrodite would be to do something like
[code]
There is an escape hatch by doing something like
[code]
I would try hard to not use this though.

[2018-04-08 01:14] kevinbarabash commented on #306
If the function is use internally people will still get the code.

[2018-04-08 09:57] RetroBum commented on #314
Same problem here so swapped aphrodite for version 1.2.0 I had used in an old project where this worked.

[2018-04-10 03:35] zhishaofei3 commented on #319
thank you verymuch @dmiller9911

[2018-04-24 14:45] lifeiscontent commented on #289
fwiw, I was using the classname npm lib for applying classes based off state. This is the solution I put together.

in create react app, I have a components folder and in the components folder I added a utils.js lib for all utils that I need for components, this is what that file looks like:

[code]

for classnames, there's a special import called `classnames/bind` which allows you to bind an obje

[2018-04-24 14:53] lifeiscontent opened #321 "Using Aphrodite in react-storybook renders empty styles declaration"
For some reason the style that Aphrodite generates doesn't get populated for me when using react-storybook.

Also, I tried adding a `:before` selector and that doesn't seem to be working in react-storybook either.

Any guidance here would be greatly appreciated, thanks!

[2018-04-28 02:26] franva opened #322 "use aphrodite with twitter-Bootstrap"
Just wonder is it possible to use A with B?

My existing project using Bootstrap and looks like:

`<ul className=”nav navbar-nav”>`

But Aphrodite asks for something like:
`<ul className={css(styles.red)}>`

Question:

How can I merge these 2 approaches?
`<ul className=”nav navbar-nav” className={css(styles.red)}>`

[2018-04-30 21:18] vidjuheffex opened #323 "calling css() causes an error/styles wont apply"
[code]

my code:
[code]

[2018-05-07 10:25] vishnukumarbp opened #324 "styles are not applied to child component until parent component gets mounted in react"
Hey mate,

i have tried to create a component which takes the applied css from parent component and update the font-size in child component according to that.
I am assuming that, **there is an issue in the order of applying the styles.**

for the first time, when child's componentDidMount called, i have not got the styles applied to neither child or parent. so my child component does nothing on th

[2018-05-08 05:00] vishnukumarbp commented on #324
Hey,

I found the answer, and it was mentioned in your doc also (which i completely missed), sorry for the inconvenience,.

I have to use setTimeout in my Life cycle methods (componentDidUpdate, componentDidMount).

So you can close this ticket.,

thanks,

[2018-05-08 17:42] jlfwong commented on #324
@vishnukumarbp Glad you were able to resolve the issue!

[2018-05-08 17:42] #324 closed

[2018-05-10 00:02] saltycrane commented on #209
For the above error, the following worked for me using `aphrodite@2.2.0` and `jest@20`:

[code]

From
https://github.com/dmiller9911/jest-aphrodite-react/blob/8c1344eb9b9e271bd171a95f53c005d934cb696d/jestSetup.js#L3-L9
https://github.com/dmiller9911/jest-aphrodite-react/blob/8c1344eb9b9e271bd171a95f53c005d934cb696d/jest.config.json#L2

[2018-05-10 00:30] moarwick commented on #62
still ran into the issue, with React 16.3.2, Jest 22.4.3, Aphrodite 2.2.0
with @saltycrane, found a perhaps cleaner solution [here](https://github.com/dmiller9911/jest-aphrodite-react/blob/8c1344eb9b9e271bd171a95f53c005d934cb696d/jestSetup.js)

here it is adapted to ES6, `jestSetup.js`:
[code]

then reference it in your `package.json`:
[code]

[2018-05-13 16:40] nakwa commented on #319
You can do that pretty easily with the extension.

[code]

Then just write your style as :
[code]

Even better, just wrap all your style into a function like this :

[code]
So that you can just write :

[code]

I hope this will become part of the core functionalities at some point :) .

[2018-05-14 22:44] 14850842 opened #326 "Aphrodite / GraphQL / SSR - cannot automatically buffer without a document"
I have implemented a Graphql Server Side Rendered (razzle) react app. We get an intermittent error
`cannot automatically buffer without a document` when loading the app.
It seems to be an issue when apollow gets the data from the tree and tries to compile the styles at that point.

A suggested method was to call the following:

[code]

But running this gives the intermittent error. Have tried othe

[2018-05-22 05:26] milesj commented on #296
Don't have a solution yet, but you can see the compiled output here: https://github.com/milesj/aesthetic/blob/master/packages/aesthetic-adapter-aphrodite/tests/__snapshots__/NativeAdapter.test.js.snap#L17

And the example syntax: https://github.com/milesj/aesthetic/blob/master/tests/mocks.js#L20 AND https://github.com/milesj/aesthetic/blob/master/packages/aesthetic-adapter-aphrodite/tests/NativeAd

[2018-05-24 17:27] zaklampert commented on #129
+1

[2018-05-25 14:43] jb-1980 commented on #322
I have used string templates to accomplish this:
``<ul className={`nav navbar-nav ${css(styles.red)}`}>``

Produces something like this:
`<ul class="nav navbar-nav red_137u7ef">`

[2018-05-25 23:15] franva commented on #322
It works! Thank you

[2018-05-26 14:44] merlinpatt opened #328 "Debugging Aphrodite?"
How can I debug Aphrodite?

I've tried to add the descendant extension as see [here](https://github.com/Khan/aphrodite/pull/95#issuecomment-247285739) but I am getting warnings in the console of `Warning: Invalid attribute: '0'` and this repeats from 0 through 15.

[2018-05-27 14:54] darrionramdin commented on #323
Are you using webpack? If so, then its most likely a problem with your webpack config. This error has nothing to do with aphrodite. Your code works fine.

[2018-05-28 10:29] Sibz commented on #319
@nakwa Perfect!

I do think selectors for ' ' (space - all descendants) and >(direct child descendants) should be included - it seems wrong to have to add styles to every component that needs styling.
For example, every label in a form... I want to just put the styles on the form to apply to all the labels.

I modified as follows

[code]

so now this works:
[code]
and produces:
[code]

Would be gr

[2018-05-28 15:36] Sibz opened #329 "TS4023 when trying to extend using typescript"
Given the code
[code]
Typescript throws the following error:
`[ts] Exported variable 'StyleSheet' has or is using name 'StyleSheetStatic' from external module "[root]/node_modules/aphrodite/typings/index" but cannot be named.`

The import line needs to contain StyleSheetStatic
[code]
However this isn't exported in the typing file.
https://github.com/Khan/aphrodite/blob/b9f5ae2dcc7fc0abeb426ea6f793

[2018-05-28 17:43] Sibz commented on #319
Wasn't so hard to implement in base library:
https://github.com/Khan/aphrodite/compare/master...Sibz:nesting

I'll ponder over the code a bit longer and then I might make it a PR.

[2018-06-01 10:45] nakwa commented on #319
Yea, actually I think using a ` ` (space) or `>`  ends up being quite unreadable.
I've updated my script to only enable nesting when the first char of the selector is `&`, which I believe is the current proposal for nesting in CSS: https://tabatkins.github.io/specs/css-nesting/

[2018-06-01 11:53] nakwa commented on #319
Also, in order to support the `,` selector (applying style to multiple selectors), and ensure it is still within the aphrodite scope :
[code]

so that :
[code]
generates :
[code]

[2018-06-08 15:10] #329 closed

[2018-06-08 21:07] willyau opened #332 "Aphrodite CSS with Byte Counting"
# Goal
To generate up to the specified bytes of CSS

# Requirements
For AMP pages, CSS styling for a Pin is needed if it exists in the markup. We want to optimize the number of Pins on the page using the specified allowable bytes for AMP CSS as a constraint.

# Aphrodite Overview
Aphrodite allows colocating css styles with javascript component. This makes it generally easier to maintain related co

[2018-06-12 10:51] gucong3000 opened #333 "new `stylelint` support."
I am working on `stylelint` and `postcss` that support `aphrodite`.
I need more testing and feedback. Can someone help me?
All you need to do is just install [postcss-jsx](https://github.com/gucong3000/postcss-jsx)

[code]
`processors` and `syntax` must remove from `.stylelintrc` and CLI

[2018-06-12 20:39] majapw commented on #321
I am also seeing this empty `<style>` tag in both a storybook and a non-storybook environment.

The styles are still getting applied, but inspecting in Chrome, FF, and even downloading the page as an HTML file does not give me what must be the real contents of the style tag.
![screen shot 2018-06-12 at 1 38 50 pm](https://user-images.githubusercontent.com/1383861/41316000-f9986e70-6e45-11e8-9758-6

[2018-06-12 20:55] majapw commented on #321
Okay so taking a deeper dive into this issue, this appears to be due to https://github.com/Khan/aphrodite/blob/master/src/inject.js#L46-L58.

Basically, in modern browsers that support it, Aphrodite is using `insertRule` on the `CSSStyleSheet` object attached to the style tag. `insertRule` notably does not affect the DOM (which is probably part of the reason why it's more performance) but rather a

[2018-06-14 16:18] austenpayan commented on #314
I'm also experiencing this on Chrome and Safari. It seems to be Chrome/Webkit specific, as I can still edit the styles in Firefox.

[2018-06-14 16:29] lencioni commented on #314
I think this is caused by the same thing as #321. More information in this comment: https://github.com/Khan/aphrodite/issues/321#issuecomment-396730606

[2018-06-25 17:36] vpandura commented on #62
Thanks @moarwick

[2018-06-29 09:09] Mati365 opened #335 "Multiple aphrodite instances on page break styles"
After linking two components with _Aphrodite_ instance themes called using `css([style1, style2])` are removed in `style[data-aphrodite]` tag.

[2018-07-02 08:58] RT-TL opened #336 "Add IE prefixes for css grid [help wanted]"
I am currently using a grid layout for my react app. The internet explorer only supports grid partially and only in newer versions. This is fine for me but I realized that grid-attributes are not prefixed, e.g.:

`
const styles = StyleSheet.create({
  contentFrame: {
    display: 'grid',
  }
});
`

is translated into

`display: grid;`

instead of

`display: grid; display: -ms-grid;`

I wonder if t

[2018-07-11 16:01] Soreine opened #337 "Why is there this smiley o_O everywhere ?"
This is just a question.

I see this kind of classnames in DEV `image_gcxn8f-o_O-avatar_pjue4n `

I understand that aphrodite hashes style names togethers into a unique classname, and preserve the original style names in DEV. That's why we see names and hashes alternating. But what's the purpose of having `o_O` 😄  ?

[2018-07-11 16:52] jlfwong commented on #337
Haha, this is a bit of weird historical stuff.

This bit of code was written in the first couple hours I was working on this with @xymostech -- we saw the lack of SSR support & media query support in other CSS-in-JS solutions and thought we could sketch out a rough solution that would do better in a few hours.

The reason that there's a separator here of `o_O` is because we needed a separator that

[2018-07-11 16:52] #337 closed

[2018-07-30 18:51] mbensch commented on #314
@lencioni This is likely caused by #240 since the `<style>` tag is no longer populated with the actual css rules.

[2018-07-30 20:59] lencioni commented on #314
Indeed

[2018-08-07 22:56] scott-silver opened #338 "Media query precedence can change unexpectedly"
This is a variation of the issue mentinoed in the [README](https://github.com/Khan/aphrodite#creating-extensions), but it applies to media queries as well and can create some unexpected behaviors.

Say you've got some styles that determine an element's background color based on screen width:

[code]

[code]

The background of the box will be blue (assuming you're viewing it at a screen width great

[2018-08-14 19:44] dmiller9911 opened #339 "CSS Custom Properties Should not be kebabified"
Currently if a user tries to overwrite css custom properties using aphrodite the key will run through kebabify, and could possibily end up with the wrong value.

Example:
###In
[code]
Out
[code]

The issue lies in the `kebabifyStyleName` utility.

[2018-08-17 01:45] zaklampert commented on #326
Same exact issue here. Any luck?

[2018-08-17 08:09] zhenwenc commented on #196
Its been more than a year, is there any update on this issue? Thanks!

[2018-08-31 03:48] #296 closed

[2018-08-31 11:31] DaBs commented on #326
Same issue here. This essentially makes aphrodite unusable for my current project, which is sad. I'll dig more into some render calls to see what we can do about it.

[2018-08-31 14:44] adamrneary commented on #326
Same problem at Airbnb. We we're going to implement this at the interface level, swapping out a noop interface for the Aphrodite interface, but if we solve this within aphordite we could use that potentially.

[2018-08-31 14:46] DaBs commented on #326
I've got a barebones version working that I will PR soon @adamrneary. I just need to update some documentation for the new methods.

[2018-08-31 15:17] DaBs commented on #326
@adamrneary @zaklampert @14850842 [This PR aims to solve the basic issue](https://github.com/Khan/aphrodite/pull/342). A better solution would presumably be to extend more of the existing interface to respect server-side rendering, but this is a immediate solution to the problem, assuming you don't need the data from your GraphQL queries to generate classes.

[2018-09-25 11:39] gabssnake commented on #174
Both mentioned use cases are quite common for us, what is the "proper" way to handle them?

[code]

[code]

[2018-10-03 22:27] majapw opened #344 "Expose `injectStyleOnce`"
I have a need to inject some global CSS at the root separate from the component-based pipeline. Right now, I'm duplicating a lot of the code in `injectStyleOnce` (https://www.github.com/Khan/aphrodite/blob/master/src/inject.js#L181-197), but it'd be nice to support this usecase out of the box and export the function with the built package, a la `flushToStyleTag`.

See https://github.com/Khan/aphro

[2018-10-08 20:14] majapw opened #345 "@supports (and other similar selectors) get injected at the end of the CSS blob"
@supports and @media selectors do not actually have greater specificity than their non-wrapped counterparts. As such, if I have the following code:
[code]
I would expect the background to be blue, but because all special selectors are injected at the end of the css blob, the div's background is actually red. @-selectors should be injected into the CSS immediately after the rule for which they are

[2018-10-16 16:58] luskin opened #346 "Custom Font not working?"
Hi all,

Following the docs we cannot get any custom font working. I know that the woff & woff2 font files are correct because we use them in several other projects just fine, here is the style code we are using, can someone please lend some assistance to what we are doing wrong? Our file structure has the component JS file in the same directory as the woff and woff2 files _(maison_neue_bold-webfo

[2018-10-17 08:20] OdaDaisuke opened #347 "Don't work well with production build of React"
When using aphrodite with production build of React, the style extensions are doesn't works well.
Some of exported styles are` Object`.

I can't find out how to resolve this problem.

### Environment

- Aphrodite@0.5.6
- React@16.4.1
- TypeScript@2.7.1

### Code

[code]

### CASE: Development build

[code]

### CASE: Production build

[code]

[2018-10-17 09:12] elrumordelaluz opened #348 "aphrodite.StyleSheetServer is null creating a static page"
Upgrading from `1.2.5` into `2.2.3` I am getting this error while I create an `html` page on-the-fly to be _downloaded_.

Seems that [this check](https://github.com/Khan/aphrodite/blob/84e0a72ce20d77c8d5481f1509ece86ffa704515/src/exports.js#L74) doesn't pass and it's correct since the page generation happens in the browser, but it is a _static_ page generation.

Is there a new way to approach this

[2018-10-17 17:03] lmerotta commented on #196
any update on this ?

[2018-11-19 18:48] sebbdk commented on #348
Looking at the source:
https://github.com/Khan/aphrodite/blob/master/src/exports.js

`
const StyleSheetServer = typeof window !== 'undefined'  ? null : {...}
`

The serverside renderstatic method is made to not work on the serverside... :D

[2018-11-27 00:14] francisrod01 opened #350 "Cannot automatically buffer without a document"
I have a problem to render in Server-Side mode.
It related: #326

Envs:

* react: 16.6.3
* aphrodite: 2.2.3
* npm: 6.4.1
* node: v8.11.2

[code]

[2018-12-02 02:47] fralonra opened #352 "Using 3rd party package to maintain css-properties.d.ts?"
Importing types from packages like [csstype](https://github.com/frenic/csstype) seems to make maintenance of `css-properties.d.ts` easier. Is it worth a try?

[2018-12-05 18:04] istvanmakary opened #353 "Server side rendering vs Aphrodite/no-important"
Hey!

First of all I want to tell, that I'm really satisfied with this module, I'm using it in several projects.
I just want to highlight one really small, but annoying issue for my self and for other developers to avoid spending hours with it...
So if you are using `aphrodite/no-important` in your codebase, and you want render your site on the server don't forget to import { StyleSheetServer } fr

[2018-12-05 20:08] csilvers commented on #353
Hi Istvan, I'm not a maintainer but I do have commit permissions on this repo, so I'd be happy to merge in a pull request if you'd like to make one!

[2018-12-05 21:36] #353 closed

[2018-12-06 11:57] Kim-Andersen commented on #346
@luskin Did you ever find a solution to this?

[2018-12-12 15:31] SmolinPavel commented on #287
Hi @dmiller9911 and @u-kan!
Sorry for the offtop. I was googling a solution for the same `hash` issue. Do you know if there are some jest snapshot serializers that solve the same issue out of the box? I've been searching all day long and still didn't find one... Thinking about giving up shapshot testing in my case :(

[2018-12-12 19:22] dmiller9911 commented on #287
@SmolinPavel Are you looking for something other than https://www.npmjs.com/package/jest-aphrodite-react?

I would potentially be open to adding a flag to not include the styles and only strip the hash if that is the reason for not using the snapshot serializer inside that package.

[2018-12-17 11:50] keroxp opened #355 "StyleSheetServer will be null when imported in Jest"
I'm using aphrodite for SSR and it works fine. But I got error while testing in Jest.

[code]

Jest exports fake `window` object into global context before all modules are resolved. So we cannot determine if `StyleSheetServer` is imported from browser or server only by checking `typeof window`.

ref: https://github.com/Khan/aphrodite/blob/master/src/exports.js#L74

Do you have any idea to fix the

[2018-12-23 00:45] kiznit commented on #245
I find myself in need of async rendering support as well. I am working with an asynchronous router (universal-router) that basically resolve routes to components asynchronously.

Example:
`import { StyleSheet, css } from 'aphrodite';

const styles = StyleSheet.create({
    blue: {
        color: 'blue',
    },
});

const routes = {
    path: '/',

    action: () => (
        <h1 className={css(sty

[2019-01-06 09:19] Soreine commented on #288
@Eugene-Sviridov you only need to call `minify(false)` once. After that, all your calls of `StyleSheet.create` will not be minified. It's a global toggle.

[2019-01-19 00:58] bkonkle commented on #245
I'm hitting this issue as well. When two requests come in at the same time, they step on each other. As long as the requests are simultaneous, I'm consistently getting `Cannot buffer while already buffering`.

[2019-01-29 06:45] wchargin commented on #196
Even if the feature request is wontfix, it would be great to at least
print a warning or raise an error when this happens. It’s got to be
unintentional, and when debugging the output it’s not immediately
obvious what’s causing the problem.

[2019-02-11 09:59] trueshot opened #359 "Map Ordering does not produce a proper hash"
The Documentation says:
[code]
In the StyleSheet.create function this line causes a problem.
[code]
It returns an empty object `{}' instead of the something that is related to the map.

The problem is the hash that represents the style is always the same.  So if you try to create a new stylesheet (using the map option), you end up only updating the only stylesheet.

[code]
Both styles.ordered  and

[2019-03-14 00:37] tremarkley commented on #174
you could also just `classNames={`${css(styles.something)} ${this.props.className}`}

[2019-03-14 17:51] smitraval commented on #347
I am having the exact same issue. Can anyone help?

[2019-03-27 12:57] gefinity opened #365 "combined class names are always minified"
I'm using

`
minify(false);
`

which is working in most cases but combined class names are still minified.

[2019-03-27 13:12] BrianGenisio opened #366 "Cannot run examples"
It _should_ work for me to run the examples:

[code]

Instead, it fails with:

[code]

[2019-04-05 03:19] kevinbarabash commented on #333
Does this support all of `stylelint`'s rules or a subset?

[2019-04-05 03:33] kevinbarabash commented on #319
This is really neat.  I think it would be awesome if we could support nesting like this.  If someone has time to put together a PR for this it would be greatly appreciated.

[2019-04-05 03:36] kevinbarabash commented on #332
What happens when the limit is reached and there's still styles that need to be generated?

[2019-04-05 03:38] Sibz commented on #319
I can, I used the actual CSS selectors [space] and > to support multi selection. It's been a long time since that project but it worked a dream!

[2019-04-05 03:40] kevinbarabash commented on #321
@lifeiscontent can you post a link to an example of this?

[2019-04-05 03:57] kevinbarabash opened #369 "Documentation website w/ playground"

[2019-04-05 04:06] kevinbarabash commented on #355
You could try setting the `testEnvironment: "node"` in your jest settings.  This will run the tests without JSDOM and the `window` object shouldn't be defined.

[2019-04-05 07:41] jlfwong commented on #332
Author, but no longer maintainer here, so I do not have final say here, but IMO this is a really niche use case and does not belong in aphrodite core. For exactly the reason @kevinbarabash mentions, terminating generation of CSS in the middle of a React render doesn't make much sense to me.

If it's really important for you to fit under the limit, then IMO the less abstraction-breaking strategy wo

[2019-04-05 12:59] kevinbarabash commented on #332
I was going to suggest parsing the resulting CSS too.  @jlfwong thanks for weighing in.

[2019-04-05 12:59] #332 closed

[2019-04-05 13:29] kevinbarabash opened #370 "Fix coverage reports"
I'm not sure why coveralls is report 0% coverage.  It might have to do with using `@babel/register`.  I was thinking we might look at moving to `jest` which also produces coverage reports doesn't require `@babel/register` to run ES6.  I was also thinking of maybe using codecov.io for tracking coverage as it provides reports inside PRs.  I'm not sure if coveralls does that.  The current coverage ha

[2019-04-05 13:53] #366 closed

[2019-04-05 22:00] lifeiscontent commented on #321
@kevinbarabash issue is too old, I don't even remember which project I was working in. 🗡

[2019-04-06 02:07] lencioni commented on #370
Big +1 on moving to jest.

[2019-04-06 02:08] lencioni opened #371 "Replace flow with TypeScript"
What do folks think? Should we switch everything over to TypeScript?

[2019-04-06 02:11] lencioni opened #372 "Remove buffering of styles?"
I think insertRule might give us good performance so that we could remove style buffering. This would reduce complexity and make the abstraction less leaky.

Profiling should be done before shipping this.

[2019-04-06 02:13] lencioni commented on #370
I think the snapshots would be a great fit for a lot of the current unit tests in particular.

[2019-04-06 14:33] kevinbarabash commented on #371
If we do, we can generate flow type definitions using https://github.com/joarwilk/flowgen.

[2019-04-06 21:00] #265 closed

[2019-04-08 11:54] keroxp commented on #355
@kevinbarabash It works. Thank you 🙏

[2019-04-08 11:54] #355 closed

[2019-04-28 16:16] Maliqureshi33 opened #376 "aphrodite SSR style break on style tag update"
Hello the Devs of aphrodite
this is indeed a great lib to write CSS in JS and I am using it in my SSR application created in razzle.
but as I move forward I am having an issue when I a, trying to use another lib that uses aphrodite (older version). the lib function triggers an update in the style data-aphrodite tag and breaks the style (although all is still written in the same style tag).
apart f

[2019-04-30 09:58] golubvladimir opened #377 "How to generate class names without hash ?"
In documentation:
[code]
Generate:
[code]
I want:
[code]
How to do it ?

[2019-04-30 19:15] jlfwong commented on #377
Hi @golubvladimir,

There's intentionally no way to do this.

The hashes included in Aphrodite are fundamentally necessary for the design of Aphrodite to work correctly with server-side rendering and to avoid class name collisions between files.

So I think it's unlikely aphrodite will be updated with an option that allows the hashes to be removed entirely.

[2019-04-30 19:15] #377 closed

[2019-05-08 15:56] rickihastings commented on #355
This isn't really a viable solution. For example we use a jsdom test environment as we have code that tests things such as local storage. I'd imagine this is the case for a lot of other users too.

Is there another solution? Seems like this one line fix is blocking us from using aphrodite in snapshots to it's full potential.

[2019-05-14 09:29] emin93 commented on #174
Unfortunately this doesn't do null-checking, so you'll end up having "undefined", "false", etc. classes if you do it that way. I tend towards using the `classnames` library as long as the maintainers are against including it in the `css` function.

[2019-05-27 17:14] kinoroy opened #378 "Typescript typings don"

[2019-05-30 21:17] chriskuech commented on #62
I'm getting this error in my `create-react-app --typescript` App, which is using the latest versions of everything.  The confusing part is that I don't actually use aphrodite directly in my project--it appears all references to it are in one of my dependencies.

Does anyone know why one of my dependencies importing aphrodite is causing my Apps tests to fail?

[2019-05-30 22:33] chriskuech commented on #209
This still seems to be an issue.

[2019-06-12 15:12] IagoLast commented on #311
should the typings should be updated too?

[2019-07-05 10:31] IgnusG commented on #130
This would be great for styling components inside shadow root containers 👍

[2019-07-09 19:25] OneSpaceSolutionsEngineer commented on #62
I am having this same issue in my application. The only place I have Aphrodite used is in my dependencies.  I've tried all of the above fixes and my tests are still failing if I try to mount any of my components. The output I get is:

Call retries were exceeded
at ChildProcessWorker.initialize (node_modules/jest-worker/build/workers/ChildProcessWorker.js:193:21)

kages\task-ui-toolbox\node_modules

[2019-07-14 19:21] DonStanislas commented on #365
+1

[2019-07-14 19:35] DonStanislas commented on #365
Hello,
Do you have a solution for this?

[2019-08-16 23:23] inciteio opened #381 "Cant get height of Aphrodite element"
I am using React and Aphrodite. I need to get the height of a fixed element in order to position it properly. Because I cannot know when Aphrodite styles are rendered, I can't use javascript to get the height of my element. Is there any way to capture height after Aphrodite styles have been applied to an element?

	`componentDidUpdate(props, state) {
			Styles(this.props.button).then(results => {

[2019-08-17 17:19] inciteio commented on #381
Solved this by adding a setTimeout after style update.

[2019-08-17 17:19] #381 closed

[2019-09-04 16:39] dmnd opened #383 "Add paddingHorizontal, paddingVertical, etc"
React Native has [`paddingHorizontal`](https://facebook.github.io/react-native/docs/layout-props#paddinghorizontal), [`paddingVertical`](https://facebook.github.io/react-native/docs/layout-props#paddingvertical), [etc](https://facebook.github.io/react-native/docs/layout-props#marginhorizontal) which makes the lack of CSS shorthand less painful.

Aphrodite's style API is already extremely similar t

[2019-09-10 21:14] joliejodell opened #384 "Doing a descendant style with aphrodite"
This css style works in normal css:

.bm-burger-button button:focus {
outline: none;
}

How do I do this in aphrodite?

I tried:

  ['bmBurgerButton button:focus'] : {
    outline: 'none'
    },

but that doesn't work.

Thanks!!

[2019-09-11 16:31] #384 closed

[2019-11-02 18:35] kevinbarabash commented on #371
After think about this some more, I think that staying with flow and generating TypeScript lib defs is probably the way to go.  The API is pretty small so generating lib defs shouldn't be too bad.  Flow's type safety is a lot better that TypeScript's.  Beyond lib defs are there other reasons why we'd want to switch?

[2019-11-02 18:37] kevinbarabash opened #385 "Make object types explicitly inexact to support projects using flow's exact_by_default option"
This involved changing `{ a: string, b: boolean }` to `{ a: string, b: boolean, ... }`.  We should probably update flow at the same time so that we can test this change.

[2019-11-03 09:42] lencioni commented on #371
More people are familiar with TypeScript, so switching will make it easier for those folks to contribute to this project. And, as [TypeScript's popularity continues to outpace Flow's](https://www.npmtrends.com/typescript-vs-flow-bin), this will be increasingly the case.

![image](https://user-images.githubusercontent.com/195534/68082540-9d4d4080-fde3-11e9-8777-1516301b2269.png)

[2019-11-14 20:16] mmahalwy commented on #355
agree with @rickihastings. This should be exported regardless in my opinion.

[2019-11-21 15:27] justinwilson-apollidon commented on #30
+1 for this. Imagine using a React package such as [react-paginate](https://github.com/AdeleD/react-paginate) where it accepts props such as `activeClassName` and such. Those classes are applied to an `a` tag by react-paginate internally. This makes it difficult to use Aphrodite with other packages like this.

I think `unsafeRawCss` would be a solution that could be used to achieve this though!

[2019-11-26 10:38] johannes-z opened #386 "Support array for css definition"
This could be helpful, if you have a style definition like the following. Right now I had to create function that merges all objects in the array:

[code]

Additionally, when implementing this syntax, aphrodite could also support string values for base-classes that are only used for *markers*, i.e.:

[code]

`css(StyleSheet.create(styles).root)`would result in `namespace-Component root_HASH`.

Let

[2019-12-09 19:58] timothympace opened #387 "Garbage collection/stale styles"
I was wondering if there is any notion of garbage collection in Aphrodite. When a component unmounts, and it's styles are no longer being used, is it possible to clean up _**just**_ that components styles? I ask because I have a specific component that can end up generating a lot of different styles over it's lifetime.

I also noticed there is a `resetInjectedStyle` method, but it looks like it ju

[2020-01-03 21:00] #321 closed

[2020-01-19 05:18] luixxiul commented on #261
Closing as stale.

[2020-01-19 05:18] #261 closed

[2020-02-05 10:47] Shad02w opened #388 "About the type definition issue on StyleDeclarationMap"
**TypeScript Version:**  3.7.5
**Aphrodite Version:**  2.4.0
 When I using StyleSheet create function
[code]
I found out that VS Code is not able to give me any autocomplete suggestion on those CSS properties, since they think StyleDeclarationMap is a type of 'any'

![Snipaste_2020-02-05_18-37-10](https://user-images.githubusercontent.com/6605655/73834801-4f633100-4847-11ea-8971-13c560096aa1.png)

[2020-02-05 11:24] Shad02w commented on #388
I just figure it out myself, just need to change compile target of typescript from "es5" to "es6", since typescript may not support Map when targeting "es5".
For reference :https://github.com/Microsoft/TypeScript/issues/6842

[2020-03-19 01:52] bslinger opened #389 "Option to only use insertRule in certain environments"
I appreciate the performance increase of adding new styles using CSSStyleSheet.insertRule, however I've run into issues when using visual testing tools such as Percy as they take a snapshot of the current DOM and render it elsewhere, meaning the styles added during execution aren't available.

Presumably this would need to be configurable in some way, but ideally I would like to use insertRule in

[2020-03-24 20:02] srolel commented on #245
Hi all, I have a working solution for this and could make a PR, but are PRs even looked at?

[2020-03-24 20:13] ljharb commented on #245
Always better to file it and have it ignored, then never file it just in case it might be ignored :-)

[2020-03-24 20:43] srolel commented on #245
Done :P https://github.com/Khan/aphrodite/pull/390

[2020-05-01 07:47] Brianzchen opened #391 "Update and expose flow?"
Is there an appetite in this project to upgrade the flow version/typings and expose it for consuming projects?

[2020-05-01 07:48] Brianzchen commented on #391
@kevinbarabash

[2020-05-16 20:08] ryascl opened #392 "Stylesheet.create does not support strict TypeScript type checking or intellisense"
`CSSProperties` type does not support strict typing. It allows any property name to be used for a style. This prevents type checking and intellisense for `Stylesheet.create`.
It appears this is due to `CSSPropertiesLossy` in the type.

Example:
https://codesandbox.io/s/aphrodite-no-type-checking-itwip?file=/src/index.ts

[code]

[2020-05-20 03:51] manian-kumaran opened #393 "Is Aphrodite still actively maintained"
Hi,

The last release was v2.4.0 in Aug 2019, and there is 0 commits since then. The commits were far in between, only 27 commits since v. 2.2.3 in Aug 2018.

I see that the main contributors are no longer with Khan. Is Aphrodite still maintained?

Thanks.

[2020-05-24 16:35] epicfaace commented on #393
@jeresig ?

[2020-05-25 02:02] zhenwenc commented on #392
I find this is very annoying as well, in addition the browser simply ignores any invalid property, so that manual errors are not detected.

However, I think its intended to be like this, since not all CSS properties are declared in `CSSProperties` type (eg `userSelect`), and in order to support [custom selector handlers](https://github.com/Khan/aphrodite#creating-extensions).

[2020-05-28 00:29] zgotsch commented on #392
I think I did something related to this at Flexport. @dmnd can you check flow-typed-overrides for aphrodite?

[2020-06-06 09:56] zanona commented on #392
I had the same issue with emotion, and I believe it has to do with the pseudo or attribute selectors.
https://github.com/emotion-js/emotion/issues/1888
Ideally we would need to have those declared under a `nest` property so it can be correctly typed.

[2020-06-11 02:53] tochidlife commented on #62
Worked perfectly

[2020-06-29 21:49] lencioni commented on #314
This has been fixed in Chrome 85: https://developers.google.com/web/updates/2020/06/devtools

[2020-06-29 21:49] #314 closed

[2020-07-09 12:36] dimaqq opened #394 "How to load ESM from a CDN? (development without build)"
I'm playing around with a style of development where I'd write, for example:
`import {html, Component, render, useState} from "https://unpkg.com/htm/preact/standalone.mjs";`

And let evergreen browsers chew on that :)

It occurs to me that at the moment, same is not possible with `aphrodite`:

https://unpkg.com/aphrodite/dist/aphrodite.js is common js.

If I do `import {css} from "https://unpkg.co

[2020-08-27 13:17] baryla commented on #394
It may not solve your problem but I suggest you use a UMD build (https://unpkg.com/aphrodite@2.4.0/dist/aphrodite.umd.min.js) or use something like wzrd.in or bundle.run to bundle everything into an IIFE.

[2020-09-29 07:09] smmoosavi commented on #141
https://github.com/mui-org/material-ui/issues/22342

[2020-09-30 15:25] drianoaz commented on #393
👀

[2020-10-22 03:35] Mrpaker opened #395 "how can i do this compatible?"
![image](https://user-images.githubusercontent.com/18256291/96821538-b0c14380-145a-11eb-9c83-925c6e367e5f.png)

[2020-11-26 20:33] Brianzchen commented on #393
I too would also like to know. I've been using for lib forever and it's always been pretty stable, maybe it's a complete library.

I'd like to help maintain this project as I'm a huge fan if you need the help?

cc @lencioni

[2020-11-26 20:36] Brianzchen commented on #391
It's fine, I've added it myself now on flow-typed and will make improvements from there
https://github.com/flow-typed/flow-typed/blob/master/definitions/npm/aphrodite_v2.x.x/flow_v0.83.x-/aphrodite_v2.x.x.js

[2020-11-26 20:36] #391 closed

[2020-11-28 03:38] jlfwong commented on #393
FWIW, I don't personally do any active development on Aphrodite any more, but I also use it in https://github.com/jlfwong/speedscope, which is actively developed.

I'm unlikely to add any significant contributions to Aphrodite going forward, but it's also not obvious that any significant changes are necessary for it to serve its purpose.

[2020-11-28 23:46] Brianzchen commented on #393
@jlfwong Thanks so much for replying, didn't think I'd get a reply from a collaborator 😄

I get that super active maintenance of this lib probably isn't necessary. But my interest is really triggered by a few main reasons

- https://github.com/Khan/aphrodite/pull/382 This PR hasn't been merged despite having been approved and actually released last year
- And when I was exploring my `node_modules/

[2020-12-06 23:14] jlfwong commented on #393
I just merged #382 since it looks like it's authored by a core contributor and was approved by a KA employee.

I'm happy to merge updates to flow typings as long as you're willing to own any issues that arise in response to the merge @Brianzchen. I haven't published this repo in a very long time, however, so I might prefer to leave that to someone else, and I'm not totally sure who the right perso

[2020-12-10 12:15] ranzolinrafa commented on #388
I'm having same problem, already changed my target to ES6 in tsconfig.json but the auto complete stills dont work

[code]

[2021-04-08 21:13] mateotherock opened #399 "Replacing componentWillReceiveProps react lifecycle method with componentDidUpdate"
Hi! I'm still a noob and could very well be missing something with the usage, but please bear with me. I am in the process of updating an older react application which includes replacing the componentWillReceiveProps lifecycle method.
The entire application relies on Aphrodite for styling and generally the components have 'const styles = (args) => StyleSheet.create({ all the styles }) and then dec

[2021-04-15 11:30] muhammedmoussa1 opened #400 "how to prevent aphrodite from adding !important?"
this sample from aphrodite styles,

[code]

is there is some configuration to remove !important?

[2021-04-15 12:10] lmahistre commented on #400
You can use this import statement:

`import { StyleSheet, css } from 'aphrodite/no-important';`

https://github.com/Khan/aphrodite#disabling-important

[2021-04-15 12:14] muhammedmoussa1 commented on #400
thank you man!

[2021-04-15 12:14] #400 closed, assigned to nobody

[2021-04-18 00:05] Brianzchen commented on #399
I believe your old codebase has been using aphrodite wrong this whole time. You don't need to add `styles` in `componentWillReceiveProps`.

Firstly, I would ask are you using styles anywhere outside of the `render()` function? If not then just move your `styles` creation to `render()` like so,

[code]

If you are assigning `styles` to `this.styles` because you have some other use case for styles b

[2021-05-14 03:43] #399 closed, assigned to nobody

[2021-06-04 16:34] mohsen1 commented on #10
This hacky solution might help if you end up in this thread...

[code]

[2021-08-19 19:34] jafidiesel commented on #346
I had the same issue and after a while I realise that it was a url problem.

In my case I was using aphrodite on a react proyect so my url
[code]
was trying to point to my public/ folder. After discovering this it just work great!

[2021-09-30 13:09] Abban-Fahim commented on #196
oh wow its 4 years old now

[2021-09-30 13:33] Abban-Fahim opened #401 "Handling multiple selectors"
This issue is to resurface a four year old issue https://github.com/Khan/aphrodite/issues/196.

As the issue already explains, using a `,` to separate two psuedo slectors in the same style block, wont add the base style (with the hash) to the second psuedo-selector. I've been scrutinising the library's code and beleive it si due to the fact that the logic only targets the first psuedo selector in

[2022-01-05 19:53] k-funk commented on #314
This is still a problem in Safari.

[2022-02-04 16:40] devDanielCespedes commented on #98
Thanks aloooot @jlfwong

[2022-04-06 07:52] #292 closed

[2022-10-19 12:54] moezbenrebah opened #402 "how to target classname in aphrodite"
Hi there, I'm trying to use aphrodite to style my react web app, but I didn't figure out how to target classname within StyleSheet.create({}). I'm using this current example, so how can I target these classnames:
[code]

[2022-10-19 13:56] lmahistre commented on #402
Hi,
You have to use the 'css' function for this.

[code]

[2022-10-19 14:26] moezbenrebah commented on #402
You mean within react file.